<div class="footer">
  <ul>
    <li>Products</li>
    <li>CDMO</li>
    <li>Work With Us</li>
    <li>R&D Platform</li>
    <li>About Us</li>
    <li>Media</li>
    <li>Investor Relations</li>
    <li>Career</li>
    <li>Contact Us</li>
  </ul>
  <p>ICP Beian</p>
</div>
