<div class="navbar">
  <div class="navbar-class">
    <div class="navbar-list">
      <%= image_tag "cf-logo-rough.png", class: "navbar-logo" %>
    </div>
    <div class="navbar-list">
      Product
    </div>
    <div class="navbar-list">
      Work With Us
    </div>
    <div class="navbar-list">
      R&D Platform
    </div>
    <div class="navbar-list">
      About Us
    </div>
    <div class="navbar-list">
      Media
    </div>
    <div class="navbar-list">
      Investor Relations
    </div>
    <div class="navbar-list">
      Career
    </div>
    <div class="navbar-list">
      Contact Us
    </div>
    <div class="navbar-list">
      Search
    </div>
  </div>
  <div class="navbar-border"></div>
</div>
