<!-- Info banner-->
<div class="info-banner" style="background-image: url(https://res.cloudinary.com/tichel/image/upload/v1597649117/photo-1581093583449-8255a7d46e66_ke1plo.jpg); background-position: 50% 80%;">
  <div class="info-banner-title-blue">
    <h1>About Us</h1>
  </div>
</div>

<div class="content-card">
  <div class="card-text-area">
    <div class="card-text">
      <h3>What we do</h3>
      <p>CF PharmTech was founded in 2007, it is a fully independent, dynamic, integrated, specialty pharmaceutical company focused on the development and manufacturing of products for the treatments of asthma, COPD and allergic rhinitis for the global market. Its mission is to develop high-quality and affordable medicine to help patients achieve effective management care for their respiratory diseases.</p>
      <p>The headquarters is located in the lakeside of the Caohu District of Suzhou, Jiangsu Province, with many very convenient transportation options available. It is only thirty minutes by train to Shanghai and four hours by train to Beijing.</p>
      <p>The company was founded by a top caliber team consisting of veterans from both the American and Chinese pharmaceutical industries. The venture was sponsored by the leading Chinese public pharmaceutical company, numerous healthcare venture funds, and Wuxi 530 seed investment program.</p>
      <p>Cutting-edge technology enables CF Pharmtech to develop pharmaceutical products that meet the increasing need of the worldwide market. The company has established state-of-the-art manufacturing lines for MDI, dry powder inhaler (DPI), nebulizer, and nasal spray.</p>
      <p>CF considers developing therapies to help patients with airway-related diseases as one of its most significant impacts. With the philosophy of “breathe easy,” CF PharmTech is becoming bigger and stronger in respiratory therapy.</p>
    </div>
  </div>
  <div class="card-img-area">
    <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1598850758/CF%20Website/About%20Us/no_copyright5_wdb75n.jpg" alt="">
  </div>
</div>
<div class="content-card">
  <div class="card-img-area">
    <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1597397247/gary-scott-nkCA4va-6k0-unsplash_szlu4i.jpg" alt="">
  </div>
  <div class="card-text-area">
    <div class="card-text">
      <h3>Leadership</h3>
      <p>The company is led by a senior business and scientific team that has a successful track record in pharmaceutical, corporate, career, and private ventures. CF invests a large amount of resources in training its employees, and helping them achieve their own successful careers. A significant number of its employees have graduate degrees and industry training. Many have become members of the company’s leadership.</p>
    </div>
  </div>
</div>
<div class="content-card">
  <div class="card-text-area">
    <div class="card-text">
      <h3>Our Mission</h3>
      <ul>
        <li>To be a fully integrated specialty pharmaceutical company that develops, manufactures, and markets high-quality and cost-effective inhaled products.</li>
        <li>To be a leading player in inhaled therapy for allergy, asthma and COPD in China. </li>
        <li>To be a global company actively involved in cross-licensing and collaborating with international partners to provide high-quality products for the global market.  </li>
      </ul>
    </div>
  </div>
  <div class="card-img-area">
    <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1598850754/CF%20Website/About%20Us/no_copyright3_p247yj.jpg" alt="">
  </div>
</div>
<div class="content-card">
  <div class="card-img-area">
    <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1598850750/CF%20Website/About%20Us/no_copyright1_w8boa8.jpg" alt="">
  </div>
  <div class="card-text-area">
    <div class="card-text">
      <h3>Our Culture</h3>
      <p>“Trust, innovation, teamwork, and personal accountability”</p>
      <p>We value and respect our employees, our business partners, our suppliers, our customers, and the communities we serve while operating with accountability and integrity in everything we do.</p>
    </div>
  </div>
</div>
<div class="content-card">
  <div class="card-text-area">
    <div class="card-text">
      <h3>Our History</h3>
      <ul>
        <li>2015 Secured a C-series venture capital investment, established the nasal spray and DPI production line</li>
        <li>2014 Completed the construction of Suzhou CF PharmTech</li>
        <li>2013 Secured a B-series venture capital investment; Start up Suzhou CF PharmTech</li>
        <li>2012 Established a manufacturing line for pressurized metered inhalers in Beijing</li>
        <li>2011 Wholly-owned subsidiary---Jiangsu CF PharmTech was set up in Wuxi; Filed 5 patents in China</li>
        <li>2010 Signed strategic partnership deal with Beijing SL Pharmaceutical; The team was honored by China National “1000 Elite” program</li>
        <li>2009 Received Jiangsu Provincial Innovation Award</li>
        <li>2008 R&D lab was established; Received Outstanding Provincial Entrepreneurship Award by Jiangsu Province</li>
        <li>2007 Jiangyin CF PharmTech was founded under Wuxi "530” Sponsorship Program</li>
      </ul>
    </div>
  </div>
  <div class="card-img-area">
    <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1597397247/gary-scott-nkCA4va-6k0-unsplash_szlu4i.jpg" alt="">
  </div>
</div>
<div class="content-card">
  <div class="card-img-area">
    <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1598850842/CF%20Website/Contact%20Us/Wuxi_zk4c1e.png" alt="">
  </div>
  <div class="card-text-area">
    <div class="card-text">
      <h3>Plants and Capacities</h3>
      <p>CF has state-of-the-art manufacturing facilities in the city of Suzhou. Currently, it has four dedicated R&D teams and manufacturing lines: MDI, nasal spray, nebulizer, and DPI.</p>
    </div>
  </div>
</div>
<div class="content-card">
  <div class="card-text-area">
    <div class="card-text">
      <h3>Our Logo</h3>
      <p>CF’s identity represents its commitment to provide safe and high-quality medicine to help patients achieve effective management care for their chronic respiratory diseases.</p>
      <p>The name CF comes from an old Chinese Poem, “Chang Feng Po Lang”, meaning hope and renewal.</p>
      <p>The logo incorporates the company name “CF”. It is an abstract image of the respiratory tract, illustrating the company’s focus on the respiratory area. The hexagon represents rationality, science, and professionalism and as a symbol of chemistry, represents the pharmaceutical industry. Blue is for reliability and tranquility and the “F” is a symbol of a sailboat which shows exploration, innovation, and discovery. </p>
    </div>
  </div>
  <div class="card-img-area">
    <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1597397247/gary-scott-nkCA4va-6k0-unsplash_szlu4i.jpg" alt="">
  </div>
</div>
