<div class="bg-light-color pr of-hidden pad-tb-rem5">
	<%= image_tag "cf-logo-outline-white", class: "white-logo-bg bot" %>
	<div class="container trans-bg pr pad-tb-rem5">
		<h1 class="text-large text-bold">CF PharmTech, Inc. Closes a US $50M Series F Financing to Accelerate the Commercialization of its Inhalation Products.</h1>
		<h2 class="text-small">2020-07-03</h2>
		<br>
		<p>CF PharmTech, Inc. (CF PharmTech, Inc.) announced today that it has raised US $50M in Series F financing following its US $90M Series E financing in January of 2020, in total, successfully completing an equity investment deal of nearly US $140M within six months. The investors participated in the Series F financing include BioTrack Capital, CICC Qichen, CICC Qide, SAIC Hengxu, GP M&A Fund and Watson Investment. Its existing investors including Passion Capital and Yuanming Capital also participated. CEC Capital served as CF PharmTech’s exclusive financial advisor for both Series E and F financing.</p>
		<p>There are nearly 300 million people suffering from asthma, chronic obstructive pulmonary disease (COPD) or rhinitis in China. The occurrence of these chronic diseases continues to rise. The State Council's Opinions on the Implementation of Healthy China Actions issued by the State Council in July 2019 defined COPD in China as a major chronic disease that seriously affects quality of life, along with cancers, cardiovascular disease and diabetes. With this new round of funding, CF Pharmtech is more poised than ever to provide respiratory disease treatments for China and global market.</p>
		<p>CF PharmTech is a fully integrated specialty pharmaceutical company dedicated to providing affordable and high-quality respiratory drugs globally. Managed by a high caliber team with extensive experience in the industry, the company focuses on the development of drugs for the treatment of respiratory diseases in its state-of-the-art facilities. Learn more about CF PharmTech, visit www.cfpharmtech.com.</p>
	</div>
</div>