<div class="bg-light-color pr of-hidden">
	<%= image_tag "cf-logo-outline-white", class: "white-logo-bg bot" %>
	<div class="container trans-bg pr pad-tb-rem5">
		<h1 class="text-large text-bold">喜讯|长风药业荣获2022年“大苏州最佳雇主”</h1>
		<h2 class="text-small">2022-11-17</h2>
		<br>
		<p>2022年11月17日，由苏州工业园区人力资源开发有限公司主办的第九届“大苏州最佳雇主”评选正式揭榜。长风药业凭借优秀的人力资源管理实践及良好的雇主品牌形象，一举摘得2022年“大苏州最佳雇主”称号。</p>
		<div class="w100 d-flex jc-center">
			<%= image_tag "news/article_2022_11_17/cf_stage", alt: "cf stage", class: "w65 mw-3rem responsive" %>
		</div>
		<p class="pad-t-rem2">作为苏州地区最具影响力的雇主品牌评选活动之一，其围绕吸引、认可、发展、融合、变革等多维度和其他多项驱动因素，全面调研雇员对雇主的满意度。另外，通过社会大众线上投票的形式，了解雇主品牌的影响力和大众的认可度。</p>
		<p>最佳雇主”这份荣誉离不开每位长风人的努力和付出，是全体人员共同赢得的。那么在“最佳”雇主工作，究竟是一种什么样的体验？下面就为你揭晓这家“别人家的公司”。</p>
		<h3 class="pad-t-rem2 text-large">Kira Yang  5 years in CF</h3>
		<h4 class="teal-text text-normal">有良师，有益友，有面包，也有远方</h4>
		<p>一家好的公司是可以引领你成长，为你提供发展舞台，并有良师益友带你面对成长中的挑战，陪你收获人生中的美好。很荣幸我加入了这样一家公司，并在这里度过了五年，我也相信长风药业的下一个五年会更好！</p>
		<h3 class="pad-t-rem2 text-large">Sara Ma  1 year in CF</h3>
		<h4 class="teal-text text-normal">志同道合，成就彼此</h4>
		<p>每家公司都会有自己独特的文化特质，有些可能与你高度契合，但有些也可能使你格格不入。而我很幸运找到了它，在这里你会深切地感受到平等对话始终被推崇，做事尊重规则但鼓励思维破圈。在这里我觉得无比舒适与自在。</p>
		<h3 class="pad-t-rem2 text-large">Michelle Chen  12 years in CF</h3>
		<h4 class="teal-text text-normal">不仅仅是一份工作，更是一份热爱的事业</h4>
		<p>寻找一份自己热爱的事业并为之奋斗终身是我一直在追寻的梦想，而这梦想在长风插上了翅膀。当我亲眼看到与小伙伴们一起日夜奋战开发的产品上市，能为千千万万的鼻炎患者带去福音，这种自豪感和成就感无以言表。在长风，我收获的不仅仅是一份工作，更是一份热爱的事业。</p>
		<h3 class="pad-t-rem2 text-large">Diana Jiang  3 years in CF</h3>
		<h4 class="teal-text text-normal">轻松实现工作与生活的平衡</h4>
		<p>加入长风，我轻松实现了工作和生活的平衡。公司提倡高效率的工作，为员工积极提供各项支持，帮助员工发挥最佳状态。同时各种文化活动、社团活动丰富多样。快乐工作，美好生活，幸福就这么简单。</p>
		<p>既然被你挖到了这家宝藏公司，那还等什么，赶紧投递你的简历，成功加入“别人家的公司”吧！</p>
		<div class="w100 d-flex jc-center pad-t-rem2">
			<div class="pad-t-rem2 bg-powder-blue news-highlighted-section w65 responsive">
				<div class="pad-lr-rem1">
					<h3 class="text-large">热招岗位</h3>
					<!-- Section -->
					<div class="">
						<h3 class="text-large">研发分析（苏州/无锡）</h3>
						<p>药物分析、药学、化学分析等相关专业</p>
					</div>
					<!-- Section -->
					<div class="mar-tb-rem2">
						<h3 class="text-large">研发制剂（苏州/无锡）</h3>
						<p>药物制剂、药学、制药工程等相关专业</p>
					</div>
					<!-- Section -->
					<div class="mar-tb-rem2">
						<h3 class="text-large">注册专员（无锡）</h3>
						<p>药学、药理学等相关专业</p>
					</div>
					<!-- Section -->
					<div class="mar-tb-rem2">
						<h3 class="text-large">质量QA（苏州）</h3>
						<p>药学、化学等相关专业</p>
					</div>
					<!-- Section -->
					<div class="mar-tb-rem2">
						<h3 class="text-large">质量QC（苏州）</h3>
						<p>药学、化学、生物学等相关专业</p>
					</div>
					<!-- Section -->
					<div class="mar-tb-rem2">
						<h3 class="text-large">生产技术（苏州）</h3>
						<p>药学、化学、机械等相关专业</p>
					</div>

					<h3 class="mar-top-rem2">简历投递</h3>
					<!-- Section -->
					<div class="">
						<h3 class="text-large">招聘网站</h3>
						<p>登陆前程无忧，搜索“长风药业”，投递心仪岗位</p>
					</div>
					<!-- Section -->
					<div class="mar-tb-rem2">
						<h3 class="text-large">HR邮箱</h3>
						<p>邮箱地址：hr@cfpharmtech.com，注明应聘岗位+姓名</p>
					</div>
					<!-- Section -->
					<div class="mar-tb-rem2">
						<h3 class="text-large">招聘热线</h3>
						<p class="mar-bot-0">无锡：0510-85190059 袁小姐</p>
						<p>苏州：0512-86867555*8021 刘先生</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>