<div class="container">
  <div class="info-container bg-white">
    <div id="work-at-cf" class="jump-anchor"></div>
    <div class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h3>Work at CF Pharmtech</h3>
          <p>CF encourages diversity, throughout all levels of the company. We believe that individual success depends on ability, behavior, performance and evidenced potential and we remain committed to offering career opportunities. Our commitment to equal opportunities, diversity is enshrined in our working practices and policies; we operate on the basis of mutual respect. Our diversity and equal opportunities policy covers all permanent and temporary employees.</p>
        </div>
      </div>
      <div class="card-img-area">
        <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1598850758/CF%20Website/About%20Us/no_copyright5_wdb75n.jpg" alt="">
      </div>
    </div>
    <div id="life-at-cf" class="jump-anchor"></div>
    <div class="content-card">
      <div class="card-img-area">
        <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1597397247/gary-scott-nkCA4va-6k0-unsplash_szlu4i.jpg" alt="">
      </div>
      <div class="card-text-area">
        <div class="card-text">
          <h3>Life at CF Pharmtech</h3>
          <ul><li class="bulleted-list">Meet Dr. Jean-Marc</li></ul>
          <p>By 2020, COPD is projected to be the 3rd cause of mortality. After working in respiratory area for about 20 years, I know the pain brought with the disease. So when I was invited to CF PharmTech, a company which focuses on inhalation products, I am very excited.</p>
        </div>
      </div>
    </div>
    <div id="opportunities" class="jump-anchor"></div>
    <div class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h3>Career Opportunities</h3>
          <h4>Submit your resumes</h4>
          <p>We are constantly looking for qualified employees to join us. We're recruiting highly motivated scientist and lab technicians with experience especially about formulation and aerosol. you can email your resume to：hr@cfpharmtech.com</p>
        </div>
      </div>
      <div class="card-img-area">
        <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1598850754/CF%20Website/About%20Us/no_copyright3_p247yj.jpg" alt="">
      </div>
    </div>
  </div>
</div>
