<!-- Info banner-->
<div class="info-banner company-banner-bg">
  <div class="info-banner-title-blue">
    <h1>Company</h1>
  </div>
</div>
<div class="container">
  <div class="info-container bg-white">
    <div class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h4>What we do</h4>
          <p>CF PharmTech was founded in Wuxi, Jiangsu province in 2008. Through rapid growth, it becomes a fully integrated specialty pharmaceutical company dedicated to providing high-quality respiratory drugs for the global market.  Managed by a high-caliber team with extensive experience in the industry, the company focuses on the development of drugs for the treatment of respiratory diseases in its state-of-the-art facilities.</p>
        </div>
      </div>
      <div class="card-img-area">
        <%= image_tag "company/what-we-do", alt: "alttext", class: "card-img" %>
      </div>
    </div>
    <div id="Our-Mission" class="content-card">
      <div class="card-img-area">
        <%= image_tag "company/mission", alt: "alttext", class: "card-img" %>
      </div>
      <div class="card-text-area">
        <div class="card-text">
          <h4>Mission</h4>
          <p>Our mission is to develop high-quality and affordable products to treat respiratory diseases and help patients to breathe easier and live better.</p>
        </div>
      </div>
    </div>
    <div id="Our-Values" class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h4>Values</h4>
          <p>Our values are integrity, patient-focus, science-led innovation.</p>
          <p>Integrity</p>
          <p>Patient Focus</p>
          <p>Science-led Innovation</p>
        </div>
      </div>
      <div class="card-img-area">
        <%= image_tag "company/values", alt: "alttext", class: "card-img" %>
      </div>
    </div>
    <div id="History" class="content-card">
      <div class="card-text-area background-grey">
        <div class="card-text">
          <h4>Our History</h4>
          <ul>
            <li>2008 CF PharmTech was founded under Wuxi "530”Sponsorship Program</li>
            <li>2009 Received Jiangsu Provincial Innovation Award, and Science and Technology Leader Team Award</li>
            <li>2010 Secured a A-series capital investment, signed strategic partnership deal with Beijing SL Pharmaceutical</li>
            <li>2011 Wholly-owned subsidiary-Jiangsu CF PharmTech was set up in Wuxi; Filed 5 patents in China</li>
            <li>2011 Wholly-owned subsidiary---Jiangsu CF PharmTech was set up in Wuxi; Filed 5 patents in China</li>
            <li>2010 Signed strategic partnership deal with Beijing SL Pharmaceutical; The team was honored by China National “1000 Elite” program</li>
            <li>2013 Secured a B-series capital investment, startup Suzhou CF PharmTech</li>
            <li>2014 Completed the construction of Suzhou CF PharmTech</li>
            <li>2015 Secured a C-series capital investment, established the nasal spray and DPI production line</li>
            <li>2017 Secured a D-series capital investment of USD65 million</li>
            <li>2019 Secured a E-series capital investment of USD94 million</li>
            <li>2020 Secured a F-series capital investment of USD50 million</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
