<!-- Info banner-->
<div class="info-banner info-banner-bg">
  <div class="info-banner-title">
    <h1>Company</h1>
  </div>
</div>
<div class="container">
  <div class="info-container bg-white">
    <div id="What-We-Do" class="content-card">
      <div class="card-text-area">
        <div class="card-text pr">
          <p class="text-large">CF PharmTech was founded in Wuxi, Jiangsu province in 2008.</p>
          <p>Through rapid growth, it becomes a fully integrated specialty pharmaceutical company dedicated to providing high-quality respiratory drugs for the global market.</p>
          <p>Managed by a high-caliber team with extensive experience in the industry, the company focuses on the development of drugs for the treatment of respiratory diseases in its state-of-the-art facilities.</p>
        </div>
      </div>
      <div class="card-image-area">
        <%= image_tag "company/company", alt: "alttext", class: "card-image" %>
      </div>
    </div>
    <div id="Our-Mission" class="h300 d-flex align-items-center pr bg-trans">
      <%= image_tag "partnership/doodles", alt: "alttext", class: "doodles" %>
      <div class="offset-30-bg bg-trans-white-green"></div>
      <p class="ml-auto mr-auto text-large bg-trans z1 w80 ta-center">Our mission is to develop high-quality and affordable products to treat respiratory diseases and help patients to <span class="text-bold">breathe easier and live better</span>.</p>
    </div>
    <div id="Our-Values" class="content-card">
      <div class="card-text-area">
        <div class="card-text pr">
          <p class="text-larger text-bold">Our values</p>
          <p class="text-large">Integrity</p>
          <p class="text-large">Patient Focus</p>
          <p class="text-large">Science-led Innovation</p>
        </div>
      </div>
      <div class="card-image-area">
        <%= image_tag "company/values", alt: "alttext", class: "card-image" %>
      </div>
    </div>
    <div id="History" class="content-card history-banner-bg">
      <div class="card-text-area">
        <div class="card-text">
          <h4 class="text-larger text-bold">Our History</h4>
          <ul>
            <li>2008 CF PharmTech was founded under Wuxi "530”Sponsorship Program</li>
            <li>2009 Received Jiangsu Provincial Innovation Award, and Science and Technology Leader Team Award</li>
            <li>2010 Secured a A-series capital investment, signed strategic partnership deal with Beijing SL Pharmaceutical</li>
            <li>2011 Wholly-owned subsidiary-Jiangsu CF PharmTech was set up in Wuxi; Filed 5 patents in China</li>
            <li>2011 Wholly-owned subsidiary---Jiangsu CF PharmTech was set up in Wuxi; Filed 5 patents in China</li>
            <li>2010 Signed strategic partnership deal with Beijing SL Pharmaceutical; The team was honored by China National “1000 Elite” program</li>
            <li>2013 Secured a B-series capital investment, startup Suzhou CF PharmTech</li>
            <li>2014 Completed the construction of Suzhou CF PharmTech</li>
            <li>2015 Secured a C-series capital investment, established the nasal spray and DPI production line</li>
            <li>2017 Secured a D-series capital investment of USD65 million</li>
            <li>2019 Secured a E-series capital investment of USD94 million</li>
            <li>2020 Secured a F-series capital investment of USD50 million</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
