<div class="container">
  <div class="info-container bg-white">
    <% @consumer_products.each do |e| %>
        <div class="card-product">
          <img src=<%= e.imgurl %> />
          <div class="card-product-infos">
            <h2><%= "#{e.product_family} #{e.product_name}" %></h2>
            <p><%= e.short_description %></p>
            <div class="btn-area">
              <%= link_to product_path(e) do %>
                <div class="btn-flat btn-product">See More</div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
