<!-- Info banner-->
<div class="info-banner info-banner-bg">
  <div class="info-banner-title">
    <h1>Contact Us</h1>
  </div>
</div>
<div class="container">
  <div class="info-container bg-white">
    <div class="content-card mh-mc card-reverse">
      <div class="card-text-area">
        <div class="card-text">
          <div class="location-card location-card-active" id="cf-suzhou" onclick="mapShowSuzhou()">
            <p><strong>China·Suzhou</strong></p>
            <p>Add.: No. 16, Hucundang Road, Xiangcheng District, Suzhou, P.R. China, 215143. </p>
            <p>Tel.: +86-512-86867555</p>
            <p>Fax: +86-512-86867355</p>
          </div>
          <div class="location-card location-card-active" id="cf-wuxi" onclick="mapShowWuxi()">
            <p><strong>China·Wuxi</strong></p>
            <p>Add.: Office 201-204, J-Park, No. 99, Jinxi Road, Wuxi, Jiangsu, P.R. China, 214125. </p>
            <p>Tel.: +86-510-85180709</p>
            <p>Fax: +86-510-85180709 </p>
          </div>
          <div class="location-card">
            <p><strong>USA·CF PharmTech USA Inc.</strong></p>
            <p>Add.: 16714 East Johnson Drive, City of Industry, CA 91745, USA.</p>
            <p>Tel.: +1-919-672-7655</p>
          </div>
        </div>
      </div>
      <div class="card-image-area">
        <%= image_tag "contact/contact", alt: "alttext", class: "card-image" %>
      </div>
    </div>
    <div class="map-container">
      <%= image_tag "contact/cf-suzhou", class: "contact-map", id: "cf-suzhou-map"%>
      <%= image_tag "contact/cf-wuxi", class: "contact-map", id: "cf-wuxi-map"%>
    </div>
  </div>
</div>
