<!-- Info banner-->
<div class="info-banner" style="background-image: url(https://res.cloudinary.com/tichel/image/upload/v1597646007/photo-1522202176988-66273c2fd55f_fpxbjf.jpg);">
  <div>
    <h1>Contact Us</h1>
  </div>
</div>
<div class="content-card">
  <div class="card-text-area">
    <div class="card-text">
      <h3>Our Mission</h3>
      <ul>
        <li>To be a fully integrated specialty pharmaceutical company that develops, manufactures, and markets high-quality and cost-effective inhaled products.</li>
        <li>To be a leading player in inhaled therapy for allergy, asthma and COPD in China. </li>
        <li>To be a global company actively involved in cross-licensing and collaborating with international partners to provide high-quality products for the global market.  </li>
      </ul>
    </div>
  </div>
  <div class="card-img-area">
    <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1598850846/CF%20Website/Contact%20Us/Suzhou_rqecff.jpg" alt="">
  </div>
</div>
