<!-- Info banner-->
<div class="info-banner contact-banner-bg">
  <div class="info-banner-title info-title">
    <h1>联系我们</h1>
  </div>
</div>
<div class="">
  <div class="bg-light-color pr of-hidden">
    <%= image_tag "cf-logo-outline-white", class: "white-logo-bg" %>
    <div class="location-card-container pad-t-rem4">
      <div class="location-card location-card-active" id="cf-suzhou" onclick="mapShowSuzhou()">
        <div class="location-card-title pr">
          <div class="location-card-title-bg bg-teal"></div>
          <p class="zh"><strong>中国<br>苏州</strong></p>
        </div>
        <div class="location-card-content">
          <div class="location-card-content-bg bg-white"></div>
          <div class="location-card-content-text">
            <div class="list-section-contact"><p class="mw-3rem"><strong>地址：</strong></p><p>苏州市苏相合作开发区湖村荡路16号</p></div>
            <div class="list-section-contact"><p class="mw-3rem"><strong>电话：</strong></p><p>0512-86867555</p></div>
            <div class="list-section-contact"><p class="mw-3rem"><strong>传真：</strong></p><p>0512-86867355</p></div>
          </div>
        </div>
      </div>
      <div class="location-card location-card-active" id="cf-wuxi" onclick="mapShowWuxi()">
        <div class="location-card-title pr">
          <div class="location-card-title-bg bg-light-grey"></div>
          <p class="zh"><strong>中国<br>无锡</strong></p>
        </div>
        <div class="location-card-content">
          <div class="location-card-content-bg bg-white"></div>
          <div class="location-card-content-text">
            <div class="list-section-contact"><p class="mw-3rem"><strong>地址：</strong></p><p>无锡市滨湖区锦溪路99号江大科技园4号楼</p></div>
            <div class="list-section-contact"><p class="mw-3rem"><strong>电话：</strong></p><p>0510-85180709</p></div>
            <div class="list-section-contact"><p class="mw-3rem"><strong>传真：</strong></p><p>0510-85180709</p></div>
          </div>
        </div>
      </div>
      <div class="location-card">
          <div class="location-card-title pr">
            <div class="location-card-title-bg bg-teal"></div>
            <p class="zh"><strong>美国<br>加州</strong></p>
          </div>
        <div class="location-card-content">
          <div class="location-card-content-bg bg-white"></div>
          <div class="location-card-content-text">
            <div class="list-section-contact"><p class="mw-3rem"><strong>地址：</strong></p><p>16714 East Johnson Drive, City of Industry, CA, 91745.</p></div>
            <div class="list-section-contact"><p class="mw-3rem"><strong>电话：</strong></p><p>+1-269-806-2796</p></div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-symbol-container">
      <div><%= image_tag "contact/contact-symbol", alt: "pin symbol", class: "contact-symbol" %></div>
      <div>
        <p class="teal-text">客服热线: 4009289891</p>
        <p class="teal-text">客服邮箱: CFCS@cfpharmtech.com</p>
        <p class="teal-text">如有任何问题，请发送至: info@cfpharmtech.com</p>
      </div>
    </div>
    <div class="map-container bg-light-color">
      <%= image_tag "contact/cf-suzhou", class: "contact-map", id: "cf-suzhou-map"%>
      <%= image_tag "contact/cf-wuxi", class: "contact-map", id: "cf-wuxi-map"%>
    </div>
  </div>
</div>
