<!-- Info banner-->
<div class="info-banner contact-banner-bg">
  <div class="info-banner-title-blue">
    <h1>Contact Us</h1>
  </div>
</div>
<div class="container">
  <div class="info-container bg-white">
    <div class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h4>Contact Us</h4>
          <div>
            <p>China·Suzhou</p>
            <p>Add.: No. 16, Hucundang Road, Xiangcheng District, Suzhou, P.R. China, 215143. </p>
            <p>Tel.: +86-512-86867555</p>
            <p>Fax: +86-512-86867355</p>
          </div>
          <div>
            <p>China·Wuxi</p>
            <p>Add.: Office 201-204, J-Park, No. 99, Jinxi Road, Wuxi, Jiangsu, P.R. China, 214125. </p>
            <p>Tel.: +86-510-85180709</p>
            <p>Fax: +86-510-85180709 </p>
          </div>
          <div>
            <p>USA: CF PharmTech USA Inc.</p>
            <p>Add.: 16714 East Johnson Drive, City of Industry, CA 91745, USA.</p>
            <p>Tel.: +1-919-672-7655</p>
          </div>
        </div>
      </div>
      <div class="card-img-area">
        <%= image_tag "contact/contact", alt: "alttext", class: "card-img" %>
      </div>
    </div>
  </div>
</div>
