<!-- Info banner-->
<div class="info-banner contact-banner-bg">
  <div class="info-banner-title info-title">
    <h1>Contact</h1>
  </div>
</div>
<div class="">
  <div class="bg-light-color pr of-hidden">
    <%= image_tag "cf-logo-outline-white", class: "white-logo-bg" %>
    <div class="location-card-container pad-t-rem4">
      <div class="location-card location-card-active" id="cf-suzhou" onclick="mapShowSuzhou()">
        <div class="location-card-title pr">
          <div class="location-card-title-bg bg-teal"></div>
          <p class="text-small loction-card-title-text"><strong>CF PharmTech, Inc.<br>China-Suzhou</strong></p>
        </div>
        <div class="location-card-content">
          <div class="location-card-content-bg bg-white"></div>
          <div class="location-card-content-text">
            <div class="list-section-contact"><p><strong>Add.:</strong></p><p>No. 16, Hucundang Road, Xiangcheng District, Suzhou, P.R. China, 215143. </p></div>
            <div class="list-section-contact"><p><strong>Tel.:</strong></p><p>+86-512-86867555</p></div>
            <div class="list-section-contact"><p><strong>Fax:</strong></p><p>+86-512-86867355</p></div>
          </div>
        </div>
      </div>
      <div class="location-card location-card-active" id="cf-wuxi" onclick="mapShowWuxi()">
        <div class="location-card-title pr">
          <div class="location-card-title-bg bg-light-grey"></div>
          <p class="text-small loction-card-title-text"><strong>CF PharmTech, Inc.<br>China-Wuxi</strong></p>
        </div>
        <div class="location-card-content">
          <div class="location-card-content-bg bg-white"></div>
          <div class="location-card-content-text">
            <div class="list-section-contact"><p><strong>Add.:</strong></p><p>Office 201-204, J-Park, No. 99, Jinxi Road, Wuxi, Jiangsu, P.R. China, 214125.</p></div>
            <div class="list-section-contact"><p><strong>Tel.:</strong></p><p>+86-510-85180709</p></div>
            <div class="list-section-contact"><p><strong>Fax:</strong></p><p>+86-510-85180709 </p></div>
          </div>
        </div>
      </div>
      <div class="location-card">
          <div class="location-card-title pr">
            <div class="location-card-title-bg bg-teal"></div>
            <p class="text-small loction-card-title-text"><strong>CF PharmTech USA Inc.<br>USA-California</strong></p>
          </div>
        <div class="location-card-content">
          <div class="location-card-content-bg bg-white"></div>
          <div class="location-card-content-text">
            <div class="list-section-contact"><p><strong>Add.:</strong></p><p>16714 East Johnson Drive, City of Industry, CA 91745, USA.</p></div>
            <div class="list-section-contact"><p><strong>Tel.:</strong></p><p>+1-269-806-2796</p></div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-symbol-container">
      <div><%= image_tag "contact/contact-symbol", alt: "pin symbol", class: "contact-symbol" %></div>
      <p class="teal-text">For enquiries please email us at info@cfpharmtech.com. For adverse events and product complaints, please call 1-888-829-1214.</p>
    </div>
    <div class="map-container bg-light-color">
      <%= image_tag "contact/cf-suzhou", class: "contact-map", id: "cf-suzhou-map"%>
      <%= image_tag "contact/cf-wuxi", class: "contact-map", id: "cf-wuxi-map"%>
    </div>
  </div>
</div>