<!-- Info banner-->
<div class="info-banner" style="background-image: url(https://res.cloudinary.com/tichel/image/upload/v1603430912/CF%20Website/Contact%20Us/stock-photo-wood-sphere-symbol-telephone-mail-address-and-mobile-phone-website-page-contact-us-or-e-mail-1043580694_vbwcpi.jpg);">
  <div class="info-banner-title-blue">
    <h1>Contact Us</h1>
  </div>
</div>
<div class="content-card container">
  <div class="card-text-area">
    <div class="card-text">
      <h3>Contact Us</h3>
    </div>
  </div>
  <div class="card-img-area">
    <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1598850846/CF%20Website/Contact%20Us/Suzhou_rqecff.jpg" alt="">
  </div>
</div>
