<div class="info-banner" style="background-image: url(https://res.cloudinary.com/tichel/image/upload/v1602492410/CF%20Website/Original%20Pictures/QQ%E5%9B%BE%E7%89%8720171129113247_vl92sb.jpg); background-position: 50% 48%">
  <div class="info-banner-title-blue">
    <h1>Dosage Forms</h1>
  </div>
</div>
<div class="container bg-white">
  <div class="content-card">
    <div class="card-text-area" id="MDI">
      <div class="card-text">
        <h3>Metered Dose Inhaler (MDI)</h3>
        <p></p>
      </div>
    </div>
    <div class="card-img-area">
    </div>
  </div>
  <div class="content-card">
    <div class="card-text-area" id="DPI">
      <div class="card-text">
        <h3>Dry Powder Inhaler (DPI)</h3>
        <p></p>
      </div>
    </div>
    <div class="card-img-area">
    </div>
  </div>
  <div class="content-card">
    <div class="card-text-area" id="Nebulizer">
      <div class="card-text">
        <h3>Nebulizer</h3>
        <p></p>
      </div>
    </div>
    <div class="card-img-area">
    </div>
  </div>
  <div class="content-card">
    <div class="card-text-area" id="Nasal-Spray">
      <div class="card-text">
        <h3>Nasal Spray</h3>
        <p></p>
      </div>
    </div>
    <div class="card-img-area">
    </div>
  </div>
  <div class="content-card">
    <div class="card-text-area" id="SMI">
      <div class="card-text">
        <h3>Soft Mist Inhaler (SMI)</h3>
        <p></p>
      </div>
    </div>
    <div class="card-img-area">
    </div>
  </div>
</div>
