<div class="container">
  <div class="info-container bg-white">
    <h1>Generic Drug Development</h1>
    <p>The following products have been filed in China:</p>
    <ul>
      <li>Budesonide Suspension for Inhalation, Nebulizer</li>
      <li>Salbutamol Sulfate Nebules Inhalation Solution, Nebulizer</li>
      <li>Beclometasone Dipropionate Suspension Inhalation, Nebulizer</li>
      <li>Levosalbutamol tartrate Inhalation Aerosol, Nebulizer</li>
      <li>Salmeterol Xinafoate and Fluticasone Propionate Aerosol, Nebulizer</li>
      <li>Azelastine Hydrochloride/Fluticasonpropionat Nasal Spray, Nebulizer</li>
    </ul>
  </div>
</div>
