<!-- content -->
<div>
  <!-- banner -->
  <div class="homepage-banner">
    <div class="banner-text">
      <h1 class="banner-title">CF Pharmtech</h1>
      <h3 class="banner-subtitle">Breathe easier, live better</h3>
    </div>
  </div>
  <div class="content-card container">
    <div class="card-text-area">
      <div class="card-text">
        <h3>Company Introduction</h3>
        <p><strong>CF PharmTech</strong> is a fully integrated specialty pharmaceutical company dedicated to providing affordable and high-quality respiratory drugs globally. With enormous development potentiality, production capacity and internationally advanced quality management system, we are able to develop and produce high-quality generic drug products that meet European and American standards and provide services for the global market.</p>
        <div class="btn-area">
          <%= link_to "Read More", about_us_path, class: "btn btn-flat" %>
        </div>
      </div>
    </div>
    <div class="card-img-area">
      <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1598850977/CF%20Website/Home%20page/Home_page_no_copyright4_i8sc01.jpg" alt="">
    </div>
  </div>
  <div class="content-card">
    <div class="card-img-area">
      <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1598850969/CF%20Website/Home%20page/Home_page_20200507-DSC_6910_y7hmcl.jpg" alt="">
    </div>
    <div class="card-text-area">
      <div class="card-text">
        <h3>Inhalation Product Technology</h3>
        <p>Adhering to the concept of "focusing on the respiratory drug delivery products", CF PharmTech is committed to the development of inhaled drug products for respiratory diseases (such as asthma and COPD), whose products cover all kinds of inhaled drugs, becoming the leader in the respiratory drug industry in China.</p>
        <p>Development platform includes: MDI, Nebulizer, DPI, Nasal Spray, Softmist Inhaler</p>
        <p>Production line: MDI (hormone and non-hormone), Nebulizer, DPI, Nasal Spray</p>
        <div class="btn-area">
            <%= link_to "Read More", research_and_development_platform_path, class: "btn btn-flat" %>
        </div>
      </div>
    </div>
  </div>
  <div class="content-card">
    <div class="card-text-area">
      <div class="card-text">
        <h3>Products</h3>
        <p>CF PharmTech is developing more than 20 inhaled generic products based on Chinese and global market needs. The products are under development and filed in China include: Beclometasone Dipropionate Suspension Inhalation, Salmeterol Xinafoate and Fluticasone Propionate Aerosol, Azelastine Hydrochloride/Fluticasonpropionat Nasal Spray, Budesonide Suspension for Inhalation</p>
        <div class="btn-area">
          <%= link_to "Read More", "#", class: "btn btn-flat" %>
        </div>
      </div>
    </div>
    <div class="card-img-area">
      <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1603423118/CF%20Website/Home%20page/New/DSC_0375_pisgg3.jpg" alt="">
    </div>
    </div>
  </div>
  <div class="content-card">
    <div class="card-img-area">
      <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1598850973/CF%20Website/Home%20page/Home_page_no_copyright2_g165lc.jpg" alt="">
    </div>
    <div class="card-text-area">
      <div class="card-text">
        <h3>Partnerships</h3>
        <p>CF PharmTech has been building partnership with more than 10 companies to develop innovative technologies and novel inhaled products with new chemical entities (NCEs) for the global market. We also provide development solutions and services to our partners to support your technology and product development programs. </p>
        <div class="btn-area">
          <%= link_to "Read More", "#", class: "btn btn-flat" %>
        </div>
      </div>
    </div>
  </div>
  <div class="small-container">
    <div class="small-card-container">
      <h2>Find Out More</h2>
    </div>
   <div class="small-card-container">
    <div class="small-card">
      <img src="https://res.cloudinary.com/tichel/image/upload/v1598850971/CF%20Website/Home%20page/Home_page_CF_building_drfmbh.jpg" alt="">
      <div class="small-card-text">
        <h4>Careers</h4>
      </div>
    </div>
    <div class="small-card">
      <img src="https://res.cloudinary.com/tichel/image/upload/v1597397247/gary-scott-nkCA4va-6k0-unsplash_szlu4i.jpg" alt="">
      <div class="small-card-text">
        <h4>News</h4>
      </div>
    </div>
   </div>
  </div>
</div>
