<!-- content -->
<div>
  <!-- banner -->
  <div class="homepage-banner">
    <div>
      <h1 class="banner-title">CF Pharmtech</h1>
      <h3 class="banner-subtitle">Breathe easier, live better</h3>
    </div>
  </div>
  <div class="content-card">
    <div class="card-text-area">
      <div class="card-text">
        <h3>CF Pharmtech your gateway to a better life</h3>
        <p>CF PharmTech is a fully integrated specialty pharmaceutical company dedicated to providing affordable and high-quality respiratory drugs globally. Managed by a high caliber team with extensive experience in the industry, the company focuses on the development of drugs for the treatment of respiratory diseases in its state-of-the-art facilities.</p>
      </div>
    </div>
    <div class="card-img-area">
      <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1597397247/gary-scott-nkCA4va-6k0-unsplash_szlu4i.jpg" alt="">
    </div>
  </div>
  <div class="content-card">
    <div class="card-img-area">
      <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1597397247/gary-scott-nkCA4va-6k0-unsplash_szlu4i.jpg" alt="">
    </div>
    <div class="card-text-area">
      <div class="card-text">
        <h3>Inhalation Product Technology</h3>
        <p>5 Dosage forms</p>
      </div>
    </div>
  </div>
  <div class="content-card">
    <div class="card-text-area">
      <div class="card-text">
        <h3>Products</h3>
        <p>20 in development on the global market</p>
      </div>
    </div>
    <div class="card-img-area">
      <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1597397247/gary-scott-nkCA4va-6k0-unsplash_szlu4i.jpg" alt="">
    </div>
    </div>
  </div>
  <div class="content-card">
    <div class="card-img-area">
      <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1597397247/gary-scott-nkCA4va-6k0-unsplash_szlu4i.jpg" alt="">
    </div>
    </div>
    <div class="card-text-area">
      <div class="card-text">
        <h3>Partnerships</h3>
        <p>NCE or novel technology or product ideas</p>
      </div>
    </div>
  </div>
  <div class="small-container">
    <div class="small-card-container">
      <h2>Find Out More</h2>
    </div>
   <div class="small-card-container">
    <div class="small-card">
      <img src="https://res.cloudinary.com/tichel/image/upload/v1597397247/gary-scott-nkCA4va-6k0-unsplash_szlu4i.jpg" alt="">
      <div class="small-card-text">
        <h4>Careers</h4>
      </div>
    </div>
    <div class="small-card">
      <img src="https://res.cloudinary.com/tichel/image/upload/v1597397247/gary-scott-nkCA4va-6k0-unsplash_szlu4i.jpg" alt="">
      <div class="small-card-text">
        <h4>News</h4>
      </div>
    </div>
   </div>
  </div>
</div>
