<div class="info-banner investors-banner-bg">
  <div class="info-banner-title info-title">
    <h1>社会责任</h1>
  </div>
</div>
<div class="bg-light-color">
  <%= image_tag "cf-logo-outline-white", class: "white-logo-bg" %>
  <div class="container">
    <div class="announcement-container">
      <div class="investor-card">
        <div class="investor-card-header text-large light-blue-text">
          社会责任
        </div>
        <div class="d-flex">          
          <div>          
            <div class="investor-card-body text-large light-blue-text">
              社会活动
            </div>
            <div class="investor-card-body text-large light-blue-text">
              公益新闻
            </div>
            <div class="investor-card-body text-large light-blue-text">
              环境保护
            </div>
          </div>
          <div class="announcement-card">
            <p>公告将于稍后公布</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
