<div class="info-banner investors-banner-bg">
  <div class="info-banner-title info-title">
    <h1>Responsibility</h1>
  </div>
</div>
<div class="bg-light-color">
  <%= image_tag "cf-logo-outline-white", class: "white-logo-bg" %>
  <div class="container">
    <div class="announcement-container">
  	  <div class="investor-card">
        <div class="investor-card-header text-large light-blue-text">
          Responsibility
        </div>
        <div class="d-flex">          
          <div>          
            <div class="investor-card-body text-large light-blue-text">
              Social<br>Activity
            </div>
            <div class="investor-card-body text-large light-blue-text">
              Public<br>Service
            </div>
            <div class="investor-card-body text-large light-blue-text">
              Environment
            </div>
          </div>
          <div class="announcement-card">
            <p>Announcements will be published later</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
