<div class="container">
  <div class="jean-marc-interview-banner"></div>
  <div class="info-container bg-white">
    <h1>Jean-Marc, CTO</h1>
    <p><strong>1. Why did you choose to work for CF?</strong></p>
    <p>Since working in inhalation area for about 20 years, I know the pain brought by respiratory diseases. The pharmaceutical industry in Suzhou is mature, which conductive to our company’s developments. Actually all of that technology support for a company like CF PharmTech already existed in and very developed in Suzhou. So when I was invited to CF PharmTech, a company which focuses on inhalation products, I was very excited.</p>
    <p><strong>2. What are your chief responsibilities?</strong></p>
    <p>I take on a lot of different jobs in CF. One of them is to have the analytical chemistry for foreign products. And it’s all done here on 3rd floor.</p>
    <p>And another job is to be a consultant on many different projects. And I am responsible for analytical chemistry and regulation of multiple foreign products. For instance, I went to the United States and presented a strategy we had for one product to the FDA in Washington. And I was actually leading that team to actually to go to Washington. This is type of thing I do. Then I have other job such as I am developing right now so basically all inhalation products are made of formulation. All the inhalation products are basically made of formulation and device. So currently I am developing dry powder inhaler, novel dry powder inhaler that would be CF dry powder inhaler device. The challenge in the development process is that the newly-developed device should to have very specific performance characteristics. And we have to avoiding IP around device. So there are some challenges to actually develop this.</p>
    <p>Another important part of my job is to lead IT. So all of IT work under me. And I have divided IT into 2 groups. One group is the standard IT you have which is fixing the cable, the mouse or addressing all of the elements such as IT infrastructure. In addition to that, I started a group right now at CF which is doing informatics. So we are developing and implementing mostly programs to address two elements which are efficiency and compliance. So this is another element I do.</p>
    <p><strong>3. What is your one wish for CF in inhalation area?</strong></p>
    <p>I am the chief technology officer of CF PharmTech Co., Ltd., and I am committed to making CF a domestic leading inhalation company, providing high quality and low priced medicines for the majority of patients with respiratory diseases. In order to achieve this goal, our team has been working hard.</p>
    <p><strong>4. Please describe CF’s culture in your own words.</strong></p>
    <p>In CF, you can feel the spirit and potential of a new startup company. Step by step, it developed from a lab which only owns several personnel, to a company which has its own factories, four advanced production lines, here, I felt very proud. “CF focuses on building the employees capabilities, and aims to support and empower them to be the best they can be.” If you want to make a career in inhalation area, welcome!</p>
  </div>
</div>
