<div class="bg-light-color pr of-hidden pad-tb-rem5">
  <%= image_tag "cf-logo-outline-white", class: "white-logo-bg bot" %>
  <div class="container trans-bg pr">
    <div class="kira-interview-banner"></div>
    <div class="info-container pad-t-rem2">
      <h1>Kira, Business Development</h1>
      <p><strong>1. Why did you choose to join CF?</strong></p>
      <p>What attracts me most is CF's international platform and people-oriented management concept. As a foreign student, I am eager to join an experienced and vibrant team, which is exactly what the company can give. Moreover, CF's R&D center is located in my hometown Wuxi, adjacent to the beautiful scenic spot. I am glad to work in my hometown and make a modest contribution in the field of medical and health.</p>
      <p><strong>2. What impressed you most in the past few years in the company?</strong></p>
      <p>As a novice in the pharmaceutical industry, I know nothing about product’s research and development, manufacture, declaration and marketing. Although I learned a lot, there are still some techniques need to be learned in practical work. One day the leader mentioned an industry term, other colleagues could answer it fluently but I couldn't. This little thing touched me and made me understand that I was working with a group of excellent people. Since then, I have always urged myself to work hard, put what I have learned into practice, and be a better self.</p>
      <p><strong>3. What are your expectations for the future of the company?</strong></p>
      <p>As a high-tech and innovative pharmaceutical company, I hope that our products can cure more and more people who are troubled by respiratory diseases, and our company can always adhere to the mission of "paying attention to breathing and caring for human life". Meanwhile, I hope that CF will be bigger and stronger with the efforts of the whole staff, so that more people can understand CF and use our products.</p>
      <p><strong>4. Do you have any suggestions for new employees?</strong></p>
      <p>They should be clear about their career direction and life goals in the early stage of career, and promote their work step by step with purpose. CF also provides opportunities for those who feel inappropriate to their jobs, they can transfer to another post to play full advantage on the shinning platform of CF.</p>
    </div>
  </div>
</div>
