<div class="container">
  <div class="info-container bg-white">
    <h1>New Drug Development</h1>
    <p>CF PharmTech invests on the development of innovative technologies and novel inhaled products, and has applied for many invention patents. Through co-development program or collaboration, CF PharmTech is developing several NCE products, new devices, and new fixed combination products.</p>
    <p><strong>CF PharmTech also provides CDMO services for your inhaled product development programs, to accelerate your products to the global market. (read more – B to B tab)</strong></p>
  </div>
</div>
