<div class="info-banner news-banner-bg">
  <div class="info-banner-title info-title">
    <h1>News</h1>
  </div>
</div>
<div class="bg-light-color pr of-hidden">
	<%= image_tag "cf-logo-outline-white", class: "white-logo-bg" %>
	<div class="container">
		<h2 class="teal-text pad-t-rem2">
			Press Releases
		</h2>
		<div class="news-card-container pad-t-rem2">
			<div class="news-card">			
				<div class="news-card-date teal-text">
					<p>2020-07-03</p>
				</div>
				<div class="news-card-title">
					<p>CF PharmTech, Inc. Closes a US $50M Series F Financing to Accelerate the Commercialization of its Inhalation Products.</p>
				</div>
			</div>
		</div>
	</div>
</div>