<div class="info-banner news-banner-bg">
  <div class="info-banner-title info-title">
    <h1>新闻动态</h1>
  </div>
</div>
<div class="bg-light-color pr of-hidden">
	<%= image_tag "cf-logo-outline-white", class: "white-logo-bg" %>
	<div class="container">
		<h2 class="teal-text pad-t-rem2">
			新闻动态
		</h2>
		<div class="news-card-container pad-t-rem2">
			<div class="news-card">			
				<div class="news-card-date teal-text">
					<p>2020-07-03</p>
				</div>
				<div class="news-card-title">
					<%= link_to "长风药业再次完成F轮3.6亿元股权交易，助力国内高端制剂快速发展。", article_path %>
				</div>
			</div>
		</div>
	</div>
</div>
