<!-- Info banner-->
<div class="info-banner partnership-banner-bg">
  <div class="info-banner-title info-title">
    <h1>Partnership</h1>
  </div>
</div>
<div class="">
  <div class="bg-light-color pr h-100vh of-hidden">
    <%= image_tag "cf-logo-outline-white", class: "white-logo-bg" %>
    <div class="pr">
      <div id="Collaborations" class="jump-anchor"></div>
      <div class="floating-block-container pr">
        <%= image_tag "partnership/collaboration", alt: "alttext", class: "collaboration-image" %>
        <div class="floating-block bg-trans-teal">
          <h4 class="text-larger text-bold">Collaborations</h4>
          <p>In addition to our generic product development teams, we have dedicated experts and advanced inhaled product development capability to support your New Drug Product Development programs, including New Chemical Entities or New Devices, from the early stages, to manufacturing, and all the way to market</p>
          <p>We provide various forms of collaborations, including CRO(contract research organization), CMO(contract manufacturing organization), CDMO(contract development and manufacturing organization) and other services.</p>
          <p>If you are interested in partnering with us, feel free to <strong><%= link_to "contact us", contact_us_path %></strong>.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="pr of-hidden">
    <div id="Services" class="jump-anchor"></div>
    <div class="info-container pr pad-tb-rem5">
      <div class="content-card">
        <div class="card-text-area w35">
          <div class="card-text">
            <h4 class="text-larger text-bold teal-text">Our Service</h4>
            <p>CF PharmTech is dedicated to creating a comprehensive and integrated R&D and technology platform, and providing our partners with a full-service around inhaled product development.</p>
          </div>
        </div>
        <div class="w65 d-flex jc-center flex-d-column">
          <div class="services-display">
            <div class="services-display-text">
              <div class="services-display-header">
                <h3 class="teal-text">Development</h3>
              </div>
              <div class="services-display-body">
                <p>CF PharmTech R&D and Technology center is located in Wuxi, Jiangsu, China. The laboratories are equipped with advanced testing equipment and instruments, including Andersen cascade impactor (ACI), Next Generation Pharmaceutical Impactor(NGI), automatic HPLC, breathing simulator, automatic high performance liquid chromatography, LSPSDA, Spray View. With our development capability and experienced team of scientists, we will build a strong partnership to bring your product to the market with high quality and in an efficient way.</p>
              </div>
            </div>
            <div class="services-display-text">
              <div class="services-display-header">
                <h3 class="teal-text">Manufacturing</h3>
              </div>
              <div class="services-display-body">
                <p>Our manufacturing facility is located in Suzhou, Jiangsu, China, with 6 production lines, including Nebulizer, Metered Dose Inhaler, Nasal Spray, Dry Powder Inhaler products. QC testing laboratory is in site and is compliant with China, EU, and US FDA requirements. With specific needs of your target product, we may provide you various options/solutions on your product manufacturing process.</p>
              </div>
            </div>
            <div class="services-display-text">
              <div class="services-display-header">
                <h3 class="teal-text">Regulatory<br>Affairs</h3>
              </div>
              <div class="services-display-body">
                <p>CF PharmTech Regulatory Affairs Team follows the latest global laws and regulations in respiratory products. We also have extensive experience working with global regulatory authorities. With our knowledge of the regulatory requirements for respiratory therapies, we are confident we can support you and your new product development programs.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Table -->
  <div class="h-100vh">
    <div id="Service-Scope" class="jump-anchor"></div>
    <div class="">
      <div class="">
        <div class="">
          <div class="scope-display scope-bg">
            <div class="fw-display-card scope-card-bg">
              <div class="fw-display-card-body">
                <ul class="bulleted-list">
                  <li>Feasibility analysis</li>
                  <li>Formulation development</li>
                  <li>Analytical Method Development</li>
                  <li>Package materials/device selection</li>
                  <li>Process development</li>
                </ul>
              </div>
              <div class="scope-card-header-border-blue">
                <div class="fw-display-card-header teal-text">
                  <h4>CRO<br>service</h4>
                </div>
              </div>
            </div>
            <div class="fw-display-card scope-card-bg">
              <div class="fw-display-card-body">
                <ul class="bulleted-list">
                  <li>Feasibility batch</li>
                  <li>Preclinical batch</li>
                  <li>Pilot batch</li>
                  <li>Validation batch</li>
                  <li>Clinical batch</li>
                  <li>Commerical batch</li>
                </ul>
              </div>
              <div class="scope-card-header-border-green">
                <div class="fw-display-card-header teal-text">
                  <h4>CMO service</h4>
                </div>
              </div>
            </div>
            <div class="fw-display-card scope-card-bg">
              <div class="fw-display-card-body">
                <ul class="bulleted-list">
                  <li>Characteristic method development and testing</li>
                  <li>In-Vitro Testing (IVT)</li>
                  <li>Compatibility study</li>
                  <li>Stability study</li>
                  <li>Dossier preparation for submission and all registration related work</li>
                </ul>
              </div>
              <div class="scope-card-header-border-blue">
                <div class="fw-display-card-header teal-text">
                  <h4>Other services</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
