<!-- Info banner-->
<div class="info-banner partnership-banner-bg">
  <div class="info-banner-title info-title">
    <h1>合作开发</h1>
  </div>
</div>
<div class="">
  <div class="bg-light-color pr h-100vh of-hidden">
    <%= image_tag "cf-logo-outline-white", class: "white-logo-bg" %>
    <div class="pr">
      <div id="Collaborations" class="jump-anchor"></div>
      <div class="floating-block-container pr">
        <%= image_tag "partnership/collaboration", alt: "alttext", class: "collaboration-image" %>
        <div class="floating-block bg-trans-teal">
          <h4 class="text-larger text-bold">协作</h4>
          <p>长风不仅拥有仿制药产品开发团队，还拥有一支专项技术核心团队，凭借丰富的吸入制剂产品的研发经验，全力支持您的新药开发项目，包括新化合物和新型吸入装置的早期研究、产品生产、产品上市，全流程为您提供优质的服务。</p>
          <p>我们欢迎多种形式的合作，共同研究，共同开发，以及CDMO服务等。</p>
          <p>如果您有兴趣与我们合作，请<strong><%= link_to "联系我们", contact_us_path %></strong>。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="pr of-hidden">
    <div id="Services" class="jump-anchor"></div>
    <div class="info-container pr pad-tb-rem5">
      <div class="content-card">
        <div class="card-text-area w35">
          <div class="card-text">
            <h4 class="text-larger text-bold teal-text">服务</h4>
            <p>长风药业致力于打造全方位一体化的研发生产技术平台，可以为合作伙伴提供吸入制剂一站式的CDMO服务。</p>
          </div>
        </div>
        <div class="w65 d-flex jc-center flex-d-column">
          <div class="services-display">
            <div class="services-display-text">
              <div class="services-display-header">
                <h3 class="teal-text">关于我们</h3>
              </div>
              <div class="services-display-body">
                <p>药物研究院位于无锡市空港产业园，实验室配套近百台吸入制剂研发和检测设备，如多级阶式碰撞器（ACI，NGI）、呼吸模拟器、高流量真空泵、全自动高效液相色谱、激光衍射粒度仪、SprayVIEW喷射模式和喷射形态测试系统等。</p>
              </div>
            </div>
            <div class="services-display-text">
              <div class="services-display-header">
                <h3 class="teal-text">生产能力</h3>
              </div>
              <div class="services-display-body">
                <p>生产基地位于苏州市相城经济开发区，配备六条先进的生产线，可以满足气雾剂，鼻喷剂，雾化吸入剂及粉雾剂等四大吸入制剂剂型的生产需求。位于厂区内的QC实验室符合中国、欧盟和美国FDA的要求。根据您的具体需求，我们能为您的产品提供各种选择/解决方案。</p>
              </div>
            </div>
            <div class="services-display-text">
              <div class="services-display-header">
                <h3 class="teal-text">注册经验</h3>
              </div>
              <div class="services-display-body">
                <p>注册团队拥有丰富的中国、美国FDA和欧洲药品申报经验。凭借我们对呼吸疗法规要求的了解，我们致力于支持您和您的新产品开发计划。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Table -->
  <div class="h-100vh">
    <div id="Service-Scope" class="jump-anchor"></div>
    <div>
      <div>
        <div class="">
          <div class="scope-display scope-bg">
            <div class="fw-display-card scope-card-bg">
              <div class="fw-display-card-body">
                <ul class="bulleted-list">
                  <li>可行性分析</li>
                  <li>处方开发</li>
                  <li>分析方法开发</li>
                  <li>包材/装置筛选</li>
                  <li>工艺开发</li>
                </ul>
              </div>
              <div class="scope-card-header-border-blue">
                <div class="fw-display-card-header teal-text">
                  <h4>研发服务</h4>
                </div>
              </div>
            </div>
            <div class="fw-display-card scope-card-bg">
              <div class="fw-display-card-body">
                <ul class="bulleted-list">
                  <li>可行性研究批</li>
                  <li>临床前研究批</li>
                  <li>中试批</li>
                  <li>验证批</li>
                  <li>临床批</li>
                  <li>商业批</li>
               </ul>
              </div>
              <div class="scope-card-header-border-green">
                <div class="fw-display-card-header teal-text">
                  <h4>CMO服务</h4>
                </div>
              </div>
            </div>
            <div class="fw-display-card scope-card-bg">
              <div class="fw-display-card-body">
                <ul class="bulleted-list">
                  <li>方法开发和测试</li>
                  <li>体外检测</li>
                  <li>相容性检测</li>
                  <li>稳定性检测</li>
                  <li>申报注册</li>
                </ul>
              </div>
              <div class="scope-card-header-border-blue">
                <div class="fw-display-card-header teal-text">
                  <h4>其他服务</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
