<!-- Info Banner -->
<div class="info-banner" style="background-image: url(https://res.cloudinary.com/tichel/image/upload/v1602492410/CF%20Website/Original%20Pictures/QQ%E5%9B%BE%E7%89%8720171129113247_vl92sb.jpg); background-position: 50% 48%">
  <div class="info-banner-title-blue">
    <h1>Products</h1>
  </div>
</div>
<div class="container bg-white">
  <h3>Introduction</h3>
  <p>Adhering to the concept of "focusing on the respiratory drug delivery products", CF PharmTech is committed to the development of high-level inhaled generic drugs for the treatment of COPD, asthma, rhinitis and other respiratory diseases, and our products are aimed at the global market. We also focus on the development of innovative technologies and novel inhaled products with new chemical entities (NCEs), have invented a number of novel products with new compounds and new devices.</p>
  <div class="product-category-title">
    <h3>Pharmaceutical Products</h3>
    <p>CF PharmTech focuses on the development of inhaled products for generic products and new drug products, include dosage forms: Metered Dose Inhaler (MDI), Dry Powder Inhaler (DPI), Nebulizer and Nasal Spray, and Soft Mist Inhaler.</p>
    <p>Several generic drug products developed by CF PharmTech mainly have been filed in China. (read more 1).</p>
    <p>New drug development, including New Chemical Entity (NCE), new device technology, new fixed combination products. (read more 2)</p>
  </div>
  <div class="product-category-title">
    <h3>Consumer Products</h3>
    <p>CF PharmTech can provide professional and practical medical care products for consumers. The AuroAir family TM, our medical care brand, has a full range of products, which can fully meet the market demand.</p>
    <% @consumer_products.each do |e| %>
      <div class="card-product">
        <img src=<%= e.imgurl %> />
        <div class="card-product-infos">
          <h2><%= "#{e.product_family} #{e.product_name}" %></h2>
          <p><%= e.short_description %></p>
          <div class="btn-area">
            <%= link_to product_path(e) do %>
              <div class="btn btn-flat btn-product">See More</div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
