<!-- Info Banner -->
<div class="info-banner" style="background-image: url(https://res.cloudinary.com/tichel/image/upload/v1602492410/CF%20Website/Original%20Pictures/QQ%E5%9B%BE%E7%89%8720171129113247_vl92sb.jpg); background-position: 50% 48%">
  <div class="info-banner-title-blue">
    <h1>Products</h1>
  </div>
</div>
<div class="container">
  <div class="info-container bg-white">
    <div class="content-card margin-bot">
      <div class="card-text-area">
        <div class="card-text">
          <h3>Pharmaceutical Products</h3>
          <p>CF PharmTech focuses on the development of inhaled products for generic products and new drug products, include dosage forms: Metered Dose Inhaler (MDI), Dry Powder Inhaler (DPI), Nebulizer, Nasal Spray, and Soft Mist Inhaler.</p>
          <p>Several generic drug products developed by CF PharmTech mainly have been filed in China.</p>
          <p><%= link_to "Read More", generic_drug_products_path, class: "btn-flat" %></p>
          <p>New drug development, including New Chemical Entity (NCE), new device technology, new fixed combination products.</p>
<!--           <p><%= link_to "Read More", new_drug_products_path, class: "btn-flat" %></p> -->
        </div>
      </div>
      <div class="card-img-area">
        <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1602492410/CF%20Website/Original%20Pictures/QQ%E5%9B%BE%E7%89%8720171129113247_vl92sb.jpg" alt="">
      </div>
    </div>
    <div class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h3>Consumer Healthcare</h3>
          <p>CF PharmTech can provide professional and practical medical care products for consumers. The AuroAir family <sup>TM</sup>, our medical care brand, has a full range of products, which can fully meet the market demand.</p>
          <p><%= link_to "Read More", consumer_products_path, class: "btn-flat" %></p>
        </div>
      </div>
      <div class="card-img-area">
        <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1598851063/CF%20Website/Product/Consumer/Product_Consumer_AuroAir_physiological_seawater_nasal_spray_aluminum_pot_100_ml_f4z7eo.jpg" alt="">
      </div>
    </div>
  </div>
</div>
