<!-- Info Banner -->
<div class="info-banner" style="background-image: url(https://res.cloudinary.com/tichel/image/upload/v1602492410/CF%20Website/Original%20Pictures/QQ%E5%9B%BE%E7%89%8720171129113247_vl92sb.jpg);">
  <div class="info-banner-title-blue">
    <h1>Products</h1>
  </div>
</div>
<div>
  <div class="product-category-title">
    <h3>Pharmaceutical Products</h3>
  </div>
  <div class="product-category-title">
    <h3>Consumer Products</h3>
    <div class="product-card-small">
      <div class="product-card-small-text-area">
        <div class="product-card-small-text">
          <h4>AuroAir Physiological seawater nasal spray</h4>
          <p>Rhinitis care, daily care, relieve nasal congestion, reconstruct nasal environment</p>
        </div>
      </div>
      <div class="product-card-small-img-area">
        <div class="product-card-small-img">
          <img alt="AuroAir nasal spray 100ml" src="https://res.cloudinary.com/tichel/image/upload/v1598851063/CF%20Website/Product/Consumer/Product_Consumer_AuroAir_physiological_seawater_nasal_spray_aluminum_pot_100_ml_f4z7eo.jpg">
        </div>
      </div>
    </div>
  </div>
  <div class="product-category-title">
    <h3>Personal Care Products</h3>
  </div>
</div>
