<div class="info-banner" style="background-image: url(https://res.cloudinary.com/tichel/image/upload/v1602492410/CF%20Website/Original%20Pictures/QQ%E5%9B%BE%E7%89%8720171129113247_vl92sb.jpg); background-position: 50% 48%">
  <div class="info-banner-title-blue">
    <h1>Quality System</h1>
  </div>
</div>
<div class="container">
  <div class="info-container bg-white">
    <div class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h4>Quality System</h4>
          <p>Our quality team will ensure that all R&D activities are compliant with relevant regulations in China, USA, and Europe.</p>
          <ul class="bulleted-list">
            <li>Analytical method development and validation</li>
            <li>Establish specifications</li>
            <li>Manage the quality of suppliers of raw materials and packaging materials</li>
            <li>Successfully pass inspections conducted by authorities and customer audits to ensure all documents ready for Regulatory Submissions</li>
          </ul>
        </div>
      </div>
      <div class="card-img-area">
        <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1598850842/CF%20Website/Contact%20Us/Wuxi_zk4c1e.png" alt="">
      </div>
    </div>
  </div>
</div>
