<div class="info-banner quality-system-bg">
  <div class="info-banner-title info-title">
    <h1>Quality<br>System</h1>
  </div>
</div>
<div class="bg-light-color">
  <%= image_tag "cf-logo-outline-white", class: "white-logo-bg" %>
  <div class="pr">
    <div class="content-card">
      <div class="card-image-area w65">
        <%= image_tag "research-and-development/quality-system/quality-team", alt: "man with beaker", class: "mar-auto" %>
      </div>
      <div class="card-text-area w35">
        <div class="card-text">
          <p>Our quality team will ensure that all R&D activities are compliant with relevant regulations in China, USA, and Europe.</p>
          <ul class="bulleted-list">
            <li>Analytical method development and validation</li>
            <li>Establish specifications</li>
            <li>Manage the quality of suppliers of raw materials and packaging materials</li>
            <li>Successfully pass inspections conducted by authorities and customer audits to ensure all documents ready for Regulatory Submissions</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
