<div class="info-banner info-banner-bg">
  <div class="info-banner-title">
    <h1>Quality System</h1>
  </div>
</div>
<div class="container">
  <div class="info-container bg-white">
    <div class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <p>Our quality team will ensure that all R&D activities are compliant with relevant regulations in China, USA, and Europe.</p>
          <ul class="bulleted-list">
            <li>Analytical method development and validation</li>
            <li>Establish specifications</li>
            <li>Manage the quality of suppliers of raw materials and packaging materials</li>
            <li>Successfully pass inspections conducted by authorities and customer audits to ensure all documents ready for Regulatory Submissions</li>
          </ul>
        </div>
      </div>
      <div class="card-image-area">
        <%= image_tag "building", alt: "alttext", class: "card-image rounded-corners maxh-300" %>
      </div>
    </div>
  </div>
</div>
