<div class="info-banner quality-system-banner-bg">
  <div class="info-banner-title info-title">
    <h1>Quality<br>System</h1>
  </div>
</div>
<div class="bg-light-color">
  <%= image_tag "cf-logo-outline-white", class: "white-logo-bg" %>
  <div class="pr">
    <div class="content-card pad-tb-rem5">
      <div class="card-image-area w50">
        <%= image_tag "research-and-development/quality-system/quality-team", alt: "man with beaker", class: "mar-auto" %>
      </div>
      <div class="card-text-area w50">
        <div class="card-text">
          <p>CF PharmTech is dedicated to improving respiratory health by providing high quality, safe and effective products for global market and ensuring compliance through a quality system that promises quality and continuous effectiveness to meet customer and regulatory requirements.</p>
          <p>Our quality team will ensure that all R&D activities are compliant with relevant regulations in China, USA, and Europe.</p>
          <p>Company’s quality policy is well defined by implementing the effective quality management system as required by current GMP, principles are not limited as mentioned below are covered across the product lifecycle and with respect to global regulation:</p>
          <ul class="bulleted-list">
            <li>Quality risk management</li>
            <li>Documentation control</li>
            <li>Supplier Management</li>
            <li>Deviation Management</li>
            <li>Change Control Management</li>
            <li>CAPA Management</li>
            <li>Qualification & validation Management</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
