<div class="info-banner quality-system-banner-bg">
  <div class="info-banner-title info-title">
    <h1>质量体系</h1>
  </div>
</div>
<div class="bg-light-color">
  <%= image_tag "cf-logo-outline-white", class: "white-logo-bg" %>
  <div class="pr">
    <div class="content-card pad-tb-rem5">
      <div class="card-image-area w50">
        <%= image_tag "research-and-development/quality-system/quality-team", alt: "man with beaker", class: "mar-auto" %>
      </div>
      <div class="card-text-area w50">
        <div class="card-text">
          <p>长风致力于为全球市场提供高质量、安全和有效的产品；通过质量体系保证质量并有效的满足客户和监管的要求。</p>
          <p>我们的质量团队将确保所有的研发活动都符合中国、美国和欧洲的相关法规。</p>
          <p>根据GMP要求，通过实施有效的质量管理体系，公司的质量方针得到了良好的定义，在整个产品生产周期中都涉及到全球法规:</p>
          <ul class="bulleted-list">
            <li>质量风险管理</li>
            <li>文件控制程序</li>
            <li>供应商管理</li>
            <li>偏差管理</li>
            <li>变更控制管理</li>
            <li>CAPA 管理</li>
            <li>分析方法开发和验证</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
