<div class="info-banner" style="background-image: url(https://res.cloudinary.com/tichel/image/upload/v1603423318/CF%20Website/RandD%20Platform/stock-photo-in-a-secure-high-level-laboratory-scientists-in-a-coverall-conducting-a-research-chemist-adjusts-684989614_alwlpn.jpg);">
  <div class="info-banner-title-blue">
    <h1>R&D Platform</h1>
  </div>
</div>
<div class="content-card container">
  <div class="card-text-area">
    <div class="card-text">
      <h4>Nebulizer</h4>
      <p>A nebulizer is a product delivery device used to administer medication in the form of a mist inhaled in the lungs. Nebulizers are commonly used for the treatment of cystic fibrosis, asthma, COPD, and other respiratory diseases. Nebulized inhalation solution will be delivered to the lungs of the patients through nebulizers, which are easily operated and fast working.</p>
    </div>
  </div>
  <div class="card-img-area">
    <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1598851201/CF%20Website/RandD%20Platform/RandD_Platform_Nebulizer_nqkouk.jpg" alt="">
  </div>
</div>
<div class="content-card">
  <div class="card-img-area">
    <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1598851197/CF%20Website/RandD%20Platform/RandD_Platform_MDI_fqnioh.jpg" alt="">
  </div>
  <div class="card-text-area">
    <div class="card-text">
      <h4>Metered Dose Inhaler</h4>
      <p>A metered-dose inhaler (MDI) is a device that delivers a specific amount of medication to the lungs in the form of a short burst of aerosolized medicine. It is usually self-administered by the patient via inhalation. It is the most commonly used delivery system for treating asthma, chronic obstructive pulmonary disease (COPD), and other respiratory diseases. The medication in a metered dose inhaler is most commonly a bronchodilator, corticosteroid, or a combination of both for the treatment of asthma and COPD.</p>
    </div>
  </div>
</div>
<div class="content-card">
  <div class="card-text-area">
    <div class="card-text">
      <h4>Dry Powder Inhaler</h4>
      <p>A dry powder inhaler (DPI) is a device that delivers medication to the lungs in the form of a dry powder. DPIs are commonly used to treat respiratory diseases such as asthma, bronchitis, emphysema and COPD although DPIs have also been used in the treatment of diabetes mellitus. DPIs are an alternative to the aerosol based inhalers commonly called metered-dose inhaler (or MDI). The DPIs may require some procedure to allow a measured dose of powder to be ready for the patient to take. The medication is commonly held either in a capsule for manual loading or a proprietary from inside the inhaler.</p>
    </div>
  </div>
  <div class="card-img-area">
    <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1598851192/CF%20Website/RandD%20Platform/RandD_Platform_DPI_mmfoni.png" alt="">
  </div>
</div>
<div class="content-card">
  <div class="card-img-area">
    <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1598851199/CF%20Website/RandD%20Platform/RandD_Platform_Nasal_Spray_uzk2g9.jpg" alt="">
  </div>
  <div class="card-text-area">
    <div class="card-text">
      <h4>Nasal Spray</h4>
      <p>Nasal sprays are used as local treatments for conditions such as nasal congestion and allergic rhinitis. In some situations, nasal delivery route is preferred because it provides an agreeable alternative to injection or pills. Substances can be assimilated extremely quickly and directly through the nose. Many pharmaceutical drugs exist as nasal sprays for systemic administration (e.g. treatments for pain, migraine, osteoporosis and nausea). Nasal sprays are seen as a more efficient way of transporting drugs with potential use in crossing the blood–brain barrier.</p>
      <p>Currently CF has more than 20 projects on-going, the target markets are US, EU and China.</p>
    </div>
  </div>
</div>
