<div class="info-banner" style="background-image: url(https://res.cloudinary.com/tichel/image/upload/v1602492410/CF%20Website/Original%20Pictures/QQ%E5%9B%BE%E7%89%8720171129113247_vl92sb.jpg); background-position: 50% 48%">
  <div class="info-banner-title-blue">
    <h1>Therapeutic Areas</h1>
  </div>
</div>
<div class="container bg-white">
  <div class="content-card">
    <div class="card-text-area" id="Asthma">
      <div class="card-text">
        <h3>Asthma</h3>
      </div>
    </div>
    <div class="card-img-area">
    </div>
  </div>
  <div class="content-card">
    <div class="card-text-area" id="COPD">
      <div class="card-text">
        <h3>COPD</h3>
      </div>
    </div>
    <div class="card-img-area">
    </div>
  </div>
  <div class="content-card">
    <div class="card-text-area" id="Rhinitis">
      <div class="card-text">
        <h3>Rhinitis</h3>
      </div>
    </div>
    <div class="card-img-area">
    </div>
  </div>
  <div class="content-card">
    <div class="card-text-area" id="Other-Respiratory-Diseases">
      <div class="card-text">
        <h3>Other Respiratory Diseases</h3>
      </div>
    </div>
    <div class="card-img-area">
    </div>
  </div>
</div>
