<div class="info-banner therapeutic-areas-banner-bg">
  <div class="info-banner-title info-title">
    <h1>Therapeutic<br>Areas</h1>
  </div>
</div>
<div class="h-100vh bg-offwhite">
  <div class="info-container">
    <div class="d-flex jc-space-evenly flex-w">
      <div class="thera-card-container pad-t-rem2">
        <div class="thera-card">
          <div id="Asthma" class="jump-anchor"></div>
          <div class="thera-card-img">
            <%= image_tag "research-and-development/therapeutic-areas/asthma", alt: "inhaler" %>
          </div>
          <div class="">
            <h4 class="ta-center pad-t-rem2">Asthma</h4>
            <p class="pad-t-rem2">Asthma is a common chronic inflammatory disease of the airways characterized by variable and recurring symptoms such as reversible airflow obstruction and bronchospasm. Common symptoms include wheezing, coughing, chest tightness, and shortness of breath.</p>
          </div>
        </div>
        <div class="thera-card">
          <div id="COPD" class="jump-anchor"></div>
          <div class="thera-card-img">
            <%= image_tag "research-and-development/therapeutic-areas/copd", alt: "lungs" %>
          </div>
          <div class="">
            <h4 class="ta-center pad-t-rem2">COPD</h4>
            <p class="pad-t-rem2">Chronic obstructive pulmonary disease (COPD) is a type of obstructive lung disease characterized by chronically poor airflow. It typically worsens over time. The main symptoms include shortness of breath, cough, and sputum production. Most people with chronic bronchitis have COPD.</p>
          </div>
        </div>
      </div>
      <div class="thera-card-container pad-t-rem2">
        <div class="thera-card">
          <div id="Rhinitis" class="jump-anchor"></div>
          <div class="thera-card-img">
            <%= image_tag "research-and-development/therapeutic-areas/rhinitis", alt: "nose" %>
          </div>
          <div class="">
            <h4 class="ta-center pad-t-rem2">Rhinitis</h4>
            <p class="pad-t-rem2">Rhinitis is irritation and inflammation of the mucous membrane inside the nose. Common symptoms are a stuffy nose, runny nose, sneezing, and post-nasal drip.</p>
          </div>
        </div>
        <div class="thera-card">
          <div id="Other-Respiratory-Diseases" class="jump-anchor"></div>
          <div class="thera-card-img">
            <%= image_tag "research-and-development/therapeutic-areas/respiratory-diseases", alt: "trachea" %>
          </div>
          <div class="">
            <h4 class="ta-center pad-t-rem2">Other Respiratory Diseases</h4>
            <p class="pad-t-rem2">There are many other respiratory diseases.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
