<!-- Info banner-->
<div class="info-banner" style="background-image: url(https://res.cloudinary.com/tichel/image/upload/v1598851110/CF%20Website/Work%20With%20Us/Work_With_Us_no_copyright3_qsqcbj.jpg);">
  <div class="info-banner-title-blue">
    <h1>Partnerships</h1>
  </div>
</div>
<div class="container">
  <div class="info-container bg-white">
    <div class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h3>Our GMP Facility and Capacity</h3>
          <p>Our factory is housed in Suzhou covering approximately 115,000m<sup>2</sup>. They contain a GMP QC lab, which has been designed to be compliant with U.S. Food & Drug Administration (FDA) requirements, and four inhalation dosage form manufacturing lines including: Inhalation Aerosol, Inhalation Powder, BFS Products, and Nasal Spray.</p>
          <p>CF PharmTech R&D center covers an area of about 15,000 m<sup>2</sup>, which has hundreds of advanced testing equipment and instruments, including Andersen cascade impactor (ACI), Next Generation Pharmaceutical Impactor(NGI), automatic HPLC, breathing simulator, automatic high performance liquid chromatography, LSPSDA, Spray View and so on. With our strong development capability, we can provide our partners with effective technical support.</p>
          <h3>Our Service</h3>
          <p>CF is committed to creating a comprehensive and integrated R&D and technology platform, which can provide partners with one-stop CDMO service for inhaled products.</p>
        </div>
        <!-- Table -->
        <div class="fw-display">
          <div class="fw-display-card">
            <div class="fw-display-card-header">
              <h4>CRO service</h4>
            </div>
            <div class="fw-display-card-body">
              <ul>
                <li>feasibility analysis</li>
                <li>prescription development</li>
                <li>analytical method development</li>
                <li>package materials/device selection</li>
                <li>process development</li>
              </ul>
            </div>
          </div>
          <div class="fw-display-card">
            <div class="fw-display-card-header">
              <h4>CMO service</h4>
            </div>
            <div class="fw-display-card-body">
              <ul>
                <li>preclinical batch</li>
                <li>validation batch</li>
                <li>clinical batch</li>
                <li>commerical batch</li>
              </ul>
            </div>
          </div>
          <div class="fw-display-card">
            <div class="fw-display-card-header">
              <h4>Other services</h4>
            </div>
            <div class="fw-display-card-body">
              <ul>
                <li>prescription analysis</li>
                <li>animal experiments</li>
                <li>IVT</li>
                <li>compatibility testing</li>
                <li>stability testing</li>
                <li>application and registration</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- <div class="fw-display-card-footer">
          <p>1. Project leaders with years of experience in both the global and Chinese market.</p>
          <p>2. Comprehensive GMP facility that is capable of manufacturing all forms of inhalation drug and meet GMP requirements.</p>
          <p>3. Competitive price and high standards that provide significant cost saving and high quality.</p>
        </div> -->
      </div>
      <div class="card-img-area">
        <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1598851098/CF%20Website/Work%20With%20Us/Work_With_Us_DSC_0023_svs6mg.jpg" alt="">
      </div>
    </div>
  </div>
</div>
