<div class="bg-light-color pr of-hidden pad-tb-rem5">
  <%= image_tag "cf-logo-outline-white", class: "white-logo-bg bot" %>
  <div class="container trans-bg pr">
    <div class="yiming-interview-banner"></div>
    <div class="info-container pad-t-rem2">
      <h1>张一鸣-人力资源部</h1>
      <p><strong>1、您目前从事什么岗位？这份工作让您最有成就感的地方是什么？</strong></p>
      <p>我目前担任HRBP，主要负责营销中心的招聘工作。最有成就感的地方莫过于能充分利用自己的专业知识，高效配合业务发展需要，搭建一支强有力的营销团队，保证营销业务有条不紊的开展。</p>
      <p><strong>2、加入长风后，最令您满意的是什么？</strong></p>
      <p>加入长风后，首先吸引住我的便是活力向上的工作氛围和富有人文关怀的团队氛围，让我能够迅速融入到崭新的工作环境中去；其次，完善的培训体系帮助我尽快上手自己的工作，拓展自己的职业技能，不断充实和提高自己；再次，随着时间的推移，也让我接触到公司内更多优秀的同事，他们不仅帮助我深入了解公司业务，同时我也能从他们身上找到值得自己学习的闪光点；最后，公司丰富的节日活动，同事自发组织的运动项目等，让我深深感受到加入长风大家庭的幸福。</p>
      <p><strong>3、未来您想在长风这个平台收获什么？</strong></p>
      <p>长风目前处于业务快速拓张阶段，内部发展潜力巨大，这给所有员工带来了广阔的晋升空间以及众多的发展机遇。作为企业的一员，我可以选择向上往管理层面发展，也可以选择多维度往专业层面发展，我想抓住这个机会和公司共同成长，在夯实基础工作之余，多多参加学习和培训，不断提升自己，未来在自己的工作领域获得出色的成绩。</p>
    </div>
  </div>
</div>