<div class="bg-light-color pr of-hidden pad-tb-rem5">
  <%= image_tag "cf-logo-outline-white", class: "white-logo-bg bot" %>
  <div class="container trans-bg pr">
    <div class="yiming-interview-banner"></div>
    <div class="info-container pad-t-rem2">
      <h1>Yiming, Human Resources</h1>
      <p><strong>1. What is your current position? What gives you the most sense of accomplishment in this job?</strong></p>
      <p>I currently work as a HRBP, which is mainly responsible for the recruitment of the marketing center. What makes me most fulfilled is to build a strong and efficient marketing team with my professional knowledge.</p>
      <p><strong>2. What satisfied you most after joining CF?</strong></p>
      <p>The first thing that attracts me is the dynamic and active working atmosphere and the team environment full of humanistic care, so that I can quickly integrate into the collective. Secondly, the excellent training system helps me to master my job as soon as possible, and I can expand my professional skills and improve myself constantly. Thirdly, I have come into contact with more excellent colleagues in the company over time, who not only help me understand the business of the company, but also have many shinning points that I can learn from. Finally, the company's various holiday activities and sports programs organized spontaneously by my colleagues make me deeply feel the happiness of joining the CF family.</p>
      <p><strong>3. What do you want to gain from CF in the future?</strong></p>
      <p>CF is currently in the stage of rapid expansion of business with great potential, which has numerous opportunities for promotion and development for all employees and I want to seize this opportunity to grow with the company. As a member of the enterprise, I can either develop to the management, or professional level. Besides laying a solid foundation, I will participate in more learning and training, so that I can achieve excellent results in the future.</p>
    </div>
  </div>
</div>