<!-- Info banner-->
<div class="info-banner" style="background-image: url(<%= asset_path 'about-us-banner.png' %>); background-position: 50% 80%;">
  <div class="info-banner-title-blue">
    <h1>公司介绍</h1>
  </div>
</div>
<div class="container">
  <div class="info-container bg-white">
    <div class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h3>公司简介</h3>
          <p>2008年，长风药业在江苏省无锡市成立，并迅速成长为一家致力于为全球市场提供高品质吸入类药物的综合性专业制药公司。在拥有丰富行业经验的高素质团队的管理下，公司专注于在最先进的设备中开发治疗呼吸系统疾病的药物。</p>
        </div>
      </div>
      <div class="card-img-area">
        <%= image_tag "company/what-we-do", alt: "alttext", class: "card-img" %>
      </div>
    </div>
    <div id="Our-Mission" class="content-card">
      <div class="card-img-area">
        <%= image_tag "company/mission", alt: "alttext", class: "card-img" %>
      </div>
      <div class="card-text-area">
        <div class="card-text">
          <h3>公司使命</h3>
          <p>我们的使命是开发高质量、低成本的产品治疗呼吸系统疾病，帮助患者呼吸更轻松，生活更美好。</p>
        </div>
      </div>
    </div>
    <div id="Our-Values" class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h3>公司价值观</h3>
          <p>我们的价值观是诚信务实、以病人患者为中心、科学引领创新</p>
        </div>
      </div>
      <div class="card-img-area">
        <%= image_tag "company/values", alt: "alttext", class: "card-img" %>
      </div>
    </div>
    <div id="History" class="content-card">
      <div class="card-text-area background-grey">
        <div class="card-text">
          <h3>发展历程</h3>
          <ul>
            <li>2008年，在无锡市政府530项目支持下江阴长风医药科技有限公司成立</li>
            <li>2009年，荣获江苏省创新创业高层次人才，科技领军型团队奖项</li>
            <li>2010年，启动A轮融资，与北京双鹭药业签订合作协议</li>
            <li>2011年，在无锡成立了全资子公司-江苏长风药业有限公司，申请五项国家专利</li>
            <li>2013年，完成B轮融资计划，调整股权结构，成立苏州长风药业有限公司</li>
            <li>2014年，完成苏州工厂的建设</li>
            <li>2015年，完成C轮融资，建立鼻喷剂、粉雾剂等剂型的生产线</li>
            <li>2017年，长风药业完成 4.4 亿元 D 轮融资，完成股份制改造</li>
            <li>2019年，完成E轮6.3亿元融资</li>
            <li>2020年，完成F轮3.6亿元融资</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
