<div class="info-banner" style="background-image: url(https://res.cloudinary.com/tichel/image/upload/v1602492410/CF%20Website/Original%20Pictures/QQ%E5%9B%BE%E7%89%8720171129113247_vl92sb.jpg); background-position: 50% 48%">
  <div class="info-banner-title-blue">
    <h1>Advanced Facilities</h1>
  </div>
</div>
<div class="container">
  <div class="info-container bg-white">
    <div class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h3>Advanced Facilities</h3>
          <p>CF has state-of-the-art manufacturing facilities in the city of Suzhou. Currently, it has four dedicated R&D teams and manufacturing lines: MDI, nasal spray, nebulizer, and DPI.</p>
        </div>
      </div>
      <div class="card-img-area">
        <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1598850842/CF%20Website/Contact%20Us/Wuxi_zk4c1e.png" alt="">
      </div>
    </div>
  </div>
</div>
