<!-- Info banner-->
<div class="info-banner info-banner-bg">
  <div class="info-banner-title">
    <h1>联系我们</h1>
  </div>
</div>
<div class="container">
  <div class="info-container bg-white">
    <div><p>info@cfpharmtech.com</p></div>
    <div class="content-card card-reverse">
      <div class="card-text-area">
        <div class="card-text">
          <div class="location-card location-card-active" id="cf-suzhou" onclick="mapShowSuzhou()">
            <p><strong>中国·苏州</strong></p>
            <div class="list-section"><p><strong>地址：</strong></p><p>苏州市苏相合作开发区湖村荡路16号</p></div>
            <div class="list-section"><p><strong>电话：</strong></p><p>0512-86867555</p></div>
            <div class="list-section"><p><strong>传真：</strong></p><p>0512-86867355</p></div>
          </div>
          <div class="location-card location-card-active" id="cf-wuxi" onclick="mapShowWuxi()">
            <p><strong>中国·无锡</strong></p>
            <div class="list-section"><p><strong>地址：</strong></p><p>无锡市滨湖区锦溪路99号江大科技园4号楼</p></div>
            <div class="list-section"><p><strong>电话：</strong></p><p>0510-85180709</p></div>
            <div class="list-section"><p><strong>传真：</strong></p><p>0510-85180709</p></div>
          </div>
          <div class="location-card">
            <p><strong>美国·CF PharmTech USA Inc.</strong></p>
            <div class="list-section"><p><strong>地址：</strong></p><p>16714, East Johnson Drive, City of Industry, CA, 91745.</p></div>
            <div class="list-section"><p><strong>电话：</strong></p><p>+1-919-672-7655</p></div>
          </div>
        </div>
      </div>
      <div class="card-image-area">
        <%= image_tag "contact/contact", alt: "alttext", class: "card-image" %>
      </div>
    </div>
    <div class="map-container">
      <%= image_tag "contact/cf-suzhou", class: "contact-map", id: "cf-suzhou-map"%>
      <%= image_tag "contact/cf-wuxi", class: "contact-map", id: "cf-wuxi-map"%>
    </div>
  </div>
</div>
