<!-- Info banner-->
<div class="info-banner" style="background: url('assets/contact/contact-banner') no-repeat 30% 45%; background-size: cover;">
  <div class="info-banner-title-blue">
    <h1>Contact Us</h1>
  </div>
</div>
<div class="container">
  <div class="info-container bg-white">
    <div class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h3>Contact Us</h3>
        </div>
      </div>
      <div class="card-img-area">
        <%= image_tag "contact/contact", alt: "alttext", class: "card-img" %>
      </div>
    </div>
  </div>
</div>
