<div class="info-banner dosage-forms-banner-bg">
  <div class="info-banner-title info-title">
    <h1>剂型</h1>
  </div>
</div>
<div class="bg-offwhite">
  <div class="info-container">
    <div class="content-card">
      <div class="card-image-area w35">
        <%= image_tag "research-and-development/dosage-forms/mdi", alt: "alttext", class: "mar-auto" %>
      </div>
      <div class="card-text-area w65" id="MDI">
        <div class="card-text">
          <h4 class="light-blue-text">气雾剂</h4>
          <p>治疗哮喘和慢性阻塞性肺病（COPD）。临床应用已有50多年历史，在治疗哮喘和COPD等呼吸道疾病中发挥了巨大的作用，能够显著改善哮喘患者的肺功能，消除炎症，缓解哮喘症状，提高患者的生活质量。特点：通过口腔直接吸入气道、起效迅速、全身副作用少、携带方便、价格低。</p>
        </div>
      </div>
    </div>
    <div class="content-card">
      <div class="card-image-area w35">
        <%= image_tag "research-and-development/dosage-forms/dpi", alt: "alttext", class: "mar-auto" %>
      </div>
      <div class="card-text-area w65" id="DPI">
        <div class="card-text">
          <h4 class="light-blue-text">干粉剂</h4>
          <p>DPI是一种不含抛射剂的微粉化喷雾剂，采用特制的干粉吸入装置，由患者主动吸入的制剂。干粉吸入剂作为一种肺部给药剂型，在临床上用于治疗哮喘、慢性阻塞性疾病。干粉剂的开发主要是给药装置上，目前主要有单剂量装置、预剂量多计量装置和储库型多计量装置。</p>
          <p>国内外已有大量临床研究表明，干粉制剂（激素、抗胆碱药和长效β2受体激动剂或者复方制剂）能够有效治疗COPD，改善肺功能，减少COPD的加重次数，推迟首次加重时间，减轻症状。</p>
        </div>
      </div>
    </div>
    <div class="content-card">
      <div class="card-image-area w35">
        <%= image_tag "research-and-development/dosage-forms/nebulizer", alt: "alttext", class: "mar-auto" %>
      </div>
      <div class="card-text-area w65" id="Nebulizer">
        <div class="card-text">
          <h4 class="light-blue-text">雾化剂</h4>
          <p>Nebulized spray inhalers是将药物的水溶液或混悬液经雾化器分散成悬浮于气体中的液滴或固体微粒，通过吸入沉积于呼吸道和(或)肺部，广泛用于治疗哮喘或COPD，特别是儿童、老年患者以及其他不适用于MDI和DPI的患者。雾化剂吸入器类型较多，包括喷射雾化器、超声雾化器和振动筛雾化器等。 </p>
        </div>
      </div>
    </div>
    <div class="content-card">
      <div class="card-image-area w35">
        <%= image_tag "research-and-development/dosage-forms/nasal-spray", alt: "alttext", class: "mar-auto" %>
      </div>
      <div class="card-text-area w65" id="Nasal-Spray">
        <div class="card-text">
          <h4 class="light-blue-text">鼻喷剂</h4>
          <p>Nasal Sprays是用于治疗过敏性鼻炎的糖皮质激素类药物和抗组胺药。</p>
          <p>过敏性鼻炎是耳鼻喉科常见的变态反应性疾病。</p>
          <p>传统的变应性鼻炎分类是依据季节性分为常年性变应性鼻炎和季节性变应性鼻炎。</p>
          <p>针对过敏性鼻炎的治疗，目前主要是糖皮质激素类鼻喷剂和抗组胺类鼻喷剂。</p>
        </div>
      </div>
    </div>
  </div>
</div>
