<div class="info-banner dosage-forms-banner-bg">
  <div class="info-banner-title info-title">
    <h1>剂型</h1>
  </div>
</div>
<div class="bg-offwhite">
  <div class="info-container">
    <div class="content-card">
      <div class="card-image-area w35">
        <%= image_tag "research-and-development/dosage-forms/mdi", alt: "alttext", class: "mar-auto" %>
      </div>
      <div class="card-text-area w65" id="MDI">
        <div class="card-text">
          <h4 class="light-blue-text">气雾剂</h4>
          <p>治疗哮喘和慢性阻塞性肺病（COPD）。临床应用已有50多年历史，可用于治疗哮喘和COPD等呼吸道疾病，能够改善哮喘患者的肺功能，消除炎症，缓解哮喘症状，提 高患者的生活质量。特点：通过口腔直接吸入气道、副作用少、携带方便、价格低。</p>
        </div>
      </div>
    </div>
    <div class="content-card">
      <div class="card-image-area w35">
        <%= image_tag "research-and-development/dosage-forms/dpi", alt: "alttext", class: "mar-auto" %>
      </div>
      <div class="card-text-area w65" id="DPI">
        <div class="card-text">
          <h4 class="light-blue-text">干粉剂</h4>
          <p>干粉吸入剂（DPI）是一种不含抛射剂的吸入制剂，采用特定的给药装置。在临床上用于治疗哮喘、慢性阻塞性疾病等疾病。干粉吸入剂的开发除了对药物处方进行开发以外，还涉及到对给药装置的开发。给药装置的形式目前主要有单剂量装置、预定量多剂量装置和储库型多剂量装置。国内外已有大量临床研究表明，干粉制剂（激素、抗胆碱药和长效β2受体激动剂或者复方制剂）能够有效治疗COPD，改善肺功能，减少COPD的加重次数，推迟首次加重时间，减轻症状。</p>
        </div>
      </div>
    </div>
    <div class="content-card">
      <div class="card-image-area w35">
        <%= image_tag "research-and-development/dosage-forms/nebulizer", alt: "alttext", class: "mar-auto" %>
      </div>
      <div class="card-text-area w65" id="Nebulizer">
        <div class="card-text">
          <h4 class="light-blue-text">雾化剂</h4>
          <p>雾化剂是将药物的水溶液或混悬液经雾化器分散成悬浮于气体中的液滴或固体微粒，通过吸入沉积于呼吸道和(或)肺部，广泛用于治疗哮喘或COPD，特别是儿童、老年患者以及其他不适用于MDI和DPI的患者。雾化剂吸入器类型较多，包括喷射雾化器、超声雾化器和振动筛雾化器等。</p>
        </div>
      </div>
    </div>
    <div class="content-card">
      <div class="card-image-area w35">
        <%= image_tag "research-and-development/dosage-forms/nasal-spray", alt: "alttext", class: "mar-auto" %>
      </div>
      <div class="card-text-area w65" id="Nasal-Spray">
        <div class="card-text">
          <h4 class="light-blue-text">鼻喷剂</h4>
          <p>鼻喷剂用于局部治疗鼻塞和过敏性鼻炎等疾病。在某些情况下，鼻腔给药途径是首选的，因为比起注射剂和药丸人们更倾向于此类给药方式。这些药物可以非常迅速地通过鼻腔直接被吸收。许多药物作为鼻喷剂用于全身给药（如治疗疼痛、偏头痛、骨质疏松和恶心）。鼻喷剂被认为是一种更有效的药物输送方式，有可能用于解决血脑屏障问题。</p>
        </div>
      </div>
    </div>
  </div>
</div>
