<div class="container">
  <div class="gao-interview-banner"></div>
  <div class="info-container bg-white">
    <h1>药物研究院-高老师</h1>
    <p><strong>1、您从公司成立之初就加入长风，见证了长风的成长，请谈谈您的感想？</strong></p>
    <p>往日的时光还历历在目，记得公司成立之初，公司只有10多人，研发设备匮乏，研发资金紧张，举步维艰，当时的我们只想着如何生存下来。但这十多年间我们从未放弃，公司领导层高瞻远瞩，致力于呼吸系统吸入制剂的国际化研发、生产、市场布局，我们从无到有，从小到大，现如今公司规模扩增至近500人，完成了F轮融资，对于创业企业来说是相当不易的。如今的长风站在了医药行业的风口，未来的发展前景无可限量。但企业的成功依赖于我们全体人员的努力奋斗，相信在全体员工的共同努力下，大家上下一心，艰苦奋斗，公司未来必定无限灿烂。</p>
    <p><strong>2、您在公司的这些年有哪些收获？</strong></p>
    <p>加入长风的时候我刚毕业不久，在长风我有幸加入了研发团队，一干就是10多年。刚开始我专注于做药品研发，在短短的时间内我就有机会经历了药品研发的全周期，同时依托长风的国际化战略，我也有幸参与了国外项目，这让我积累了丰富的研发经验。到后来我慢慢从专业技术走向管理岗，这对我是一个莫大的挑战，管理自己跟管理别人可大相径庭，但公司领导给予了我极大的支持和帮助。现如今我已成长为一名团队负责人，带领着80多名研发人员，负责多个剂型的研发项目，这是公司对我莫大的信任与肯定。</p>
    <p><strong>3、是什么原因让您选择一直在长风发展？</strong></p>
    <p>我们每个人选择留在一家公司发展的原因有很多种，但这些都源自于自身对工作的期许和愿景不同，有些人追求轻松愉悦的工作氛围，有些人追求更大的工作挑战。而这么多年我选择留在长风，也是因为公司给予了我想得到的，我能在这个平台上获得快速地成长，我能从事我热爱并擅长的事业，我能与一群志同道合有共同奋斗目标的人并肩作战，我也有机会分享公司的利益果实，正是这些让我不得不选择留在长风，并心甘情愿与之共进退。</p>
    <p><strong>4、作为一名老员工，您是如何理解长风的企业文化？</strong></p>
    <p>长风是一家秉持开放、包容、共享共赢的企业。在长风你可以看到来自五湖四海且拥有不同特质的人在本职岗位上充分发挥自己的所长，贡献自己的智慧。同时长风一贯提倡”以奋斗为本”的文化理念，鼓励全体员工崇尚奋斗，勤于奋斗，公司建立了一整套相关配套的价值评估与激励机制，形成了向奋斗者倾斜的政策导向。作为员工，只要你扎实奋斗，努力前行，持续贡献，必能在长风的平台上收获丰厚的回报。</p>
  </div>
</div>
