<div class="info-banner products-banner-bg">
  <div class="info-banner-title">
    <h1>仿制药</h1>
  </div>
</div>
<div class="bg-light-color pr of-hidden pad-tb-rem5">
  <%= image_tag "cf-logo-outline-white", class: "white-logo-bg" %>
  <div class="container pr">
    <div class="info-container">
      <h1 class="text-large text-bold teal-text">长风药业研制的以下产品已在中国申报：</h1>
      <ul class="bulleted-list text-large">
        <li>吸入用布地奈德混悬液, 雾化剂</li>
        <li>硫酸沙丁胺醇雾化吸入溶液, 雾化剂</li>
        <li>丙酸倍氯米松气雾剂, 气雾剂</li>
        <li>酒石酸左沙丁胺醇吸入气雾剂, 气雾剂</li>
        <li>沙美特罗替卡松吸入气雾剂, 气雾剂</li>
        <li>盐酸氮卓斯汀丙酸氟替卡松鼻喷雾剂, 鼻喷剂</li>
      </ul>
    </div>
  </div>
</div>
