<div class="info-banner investors-banner-bg">
  <div class="info-banner-title info-title">
    <h1>投资者关系</h1>
  </div>
</div>
<div class="bg-light-color">
  <%= image_tag "cf-logo-outline-white", class: "white-logo-bg" %>
  <div class="container announcement-container"> 
    <div class="investor-card">
      <div class="investor-card-header text-large light-blue-text">
        投资者关系
      </div>
      <div class="investor-card-body text-large light-blue-text">
        临时公告
      </div>
      <div class="investor-card-body text-large light-blue-text">
        公司治理
      </div>
      <div class="investor-card-body text-large light-blue-text">
        定期公告
      </div>
    </div>
    <div class="announcement-card">
      <p>公告将于稍后公布</p>
    </div>
  </div>
</div>
