<div class="bg-light-color pr of-hidden pad-tb-rem5">
  <%= image_tag "cf-logo-outline-white", class: "white-logo-bg bot" %>
  <div class="container trans-bg pr">
    <div class="jean-marc-interview-banner"></div>
    <div class="info-container pad-t-rem2">
      <h1>Jean-Marc -首席技术官</h1>
      <p><strong>1. 为什么选择到长风工作？</strong></p>
      <p>作为一个在该领域工作几十年的医药人，我深知呼吸疾病给病人带来的痛苦。苏州的制药行业环境非常友好，像长风这样的公司，所有的技术支持在苏州已经存在，而且技术非常成熟, 所以当我被聘请到长风药业，一个专注做吸入制剂公司做CTO时，我的内心是非常激动的。</p>
      <p><strong>2. 在公司的主要职责？</strong></p>
    <p>我在公司承担很多不同的工作。其中之一是负责针对国外市场产品的分析化学，都是在这里的三楼实验室完成的。</p>
    <p>同时还负责项目上的顾问工作。目前针对多个国外市场产品，帮助解决分析化学和合规方面的难题。例如，我曾作为团队负责人去到美国华盛顿的食品和药品监督管理局展示讨论了我们其中一种产品开发的策略。这就是作为项目顾问需要负责的事项之一。所有的吸入制剂产品基本上都是药品和装置组成的, 所以我们目前正在开发新型干粉吸入器，即长风公司自己的干粉吸入器。这项工作极具挑战，因为开发出来的装置既要具备特定的性能特征又要绕开所有被知识产权保护的地方。</p>
    <p>我负责的另外一项很重要的工作是领导IT部门，分为两部分。一是标准的信息技术，包括电缆、鼠标或其他IT基础设施方面的工作。另外一个是信息学，目前我在长风成立了信息学团队。我们正在开发并已经实施了相关项目，主要目的是提高效率，达到更好的合规性。</p>
    <p><strong>3. 您对长风在吸入制剂领域的愿景？</strong></p>
    <p>我在长风药业股份有限公司担任首席技术官，致力于将长风打造成为中国国内吸入制剂的领导企业，为广大呼吸系统疾病患者提供质优价廉的药品。为了这样一个目标，我们团队一直努力奋斗着。</p>
    <p><strong>4. 请谈一下长风的公司文化。</strong></p>
    <p>在长风，你能感受到作为一个创业型公司所具有的奋斗精神和未来无穷的潜力。能够看着长风一步步从一个仅有几个实验人员的小办公室发展成现在具有自己厂房，四条先进生产线的专业吸入制剂公司，我为身在长风感到无比骄傲。如果，你也怀有在制药领域放开手脚拼搏一番的勇气，我们欢迎你的加入！</p>
    </div>
  </div>
</div>
