<div class="container">
  <div class="kira-interview-banner"></div>
  <div class="info-container bg-white">
    <h1>商务部-致惺</h1>
    <p><strong>1、当初是什么原因让您选择加入了长风？</strong></p>
    <p>长风最吸引我的是国际化的平台和以人为本的经营理念；作为一名留学生，渴望加入经验丰富、朝气蓬勃的团队，这些正是公司能给予的。同时，长风的研发中心坐落于我的家乡无锡，毗邻优美的风景区，很高兴能在自己的家乡工作且能为医疗健康领域贡献出自己的绵薄之力。</p>
    <p><strong>2、在公司这几年，让您印象最深的一件事是什么？</strong></p>
    <p>初到长风，作为在医药行业的小白，对于产品的研发、生产、申报、上市等环节一窍不通，虽然期间学习了很多，但还是有一些需要在实际工作中去学习。有一天领导提及了一个行业专有名词，我却记不起来，而其他同事却能对答如流，这一件小小的事情不禁触动了我，让我明白我是与一群优秀的人共事，自此我时时鞭策自己，要勤奋努力，学以致用，铸就更好的自己。</p>
    <p><strong>3、对于公司的未来，您有什么期待？</strong></p>
    <p>作为一家高科技创新型制药企业，在吸入制剂领域，希望公司的产品能治愈好越来越多受呼吸问题困扰的人，始终秉持“关注呼吸，关爱生命”的使命观，关爱人类的生命健康。同时希望通过全员的努力，长风能更大更强，让更多有需要的人了解长风，使用长风的产品。</p>
    <p><strong>4、对于新入职的员工，您有什么建议？ </strong></p>
    <p>初入职场要明确自己的职业目标和人生目标，有计划有目的地去开展和推进工作，一步一个脚印，如果中途觉得不合适想转换职业的，长风也提供了机会，长风给你提供了发光发亮的舞台。</p>
  </div>
</div>
