<div class="container content-card">
  <div class="info-container bg-white">
    <h1>New Drug Development</h1>
    <p>CF PharmTech invests in the development of innovative technologies and novel inhaled products, and has applied for many invention patents. Through co-development programs and collaboration, CF PharmTech is developing several NCE products, new devices, and new fixed combination products.</p>
    <p><%= link_to "Read More", zh_partnership_path, class: "btn-flat" %></p>
    <p><strong>CF PharmTech also provides CDMO services for your inhaled product development programs, to accelerate your products to the global market.</strong></p>
  </div>
</div>
