<div class="info-banner info-banner-bg">
  <div class="info-banner-title">
    <h1>新闻动态</h1>
  </div>
</div>
<div class="container">
	<h2>长风药业再次完成F轮3.6亿元股权交易，助力国内高端制剂快速发展。</h2>
	<p>2020-07-03 <br></p>
	<p>长风药业股份有限公司（CF PharmTech, Inc.，简称“长风药业”） 继1月份完成E轮6.3亿融资后，再次完成F轮3.6亿元融资，6个月内总计完成近10亿融资。本轮股权交易由博远资本和中金资本领投，上汽恒旭，金浦并购基金，沃生投资等知名机构参与投资。同时，斐君资本，元明资本等现有老股东继续增持股份。易凯资本担任长风E，F两轮融资的独家财务顾问。</p>
	<p>长风药业股份有限公司是一家致力于为全球患者提供高质量呼吸系统药物的综合性制药企业。公司自创立起就专注于全球呼吸道疾病治疗药物的开发，目前已建立齐全的吸入制剂研发基地和面向全球高端市场的生产设施。</p>
	<p>随着工业化进程、老龄化发展，呼吸道疾病已经成为世界性常见病。在中国，哮喘、慢阻肺、鼻炎患者预计已超过3亿人，患者群体仍在快速增长中。 2019年7月国务院印发的《国务院关于实施健康中国行动的意见》更是正式将中国慢性阻塞性肺炎（COPD）定位成与和肿瘤、心血管疾病和糖尿病同一等级，是严重影响公民健康的四大疾病之一，极大的影响了生命质量。吸入制剂在全球均为壁垒极高的细分领域，也是治疗呼吸道疾病的金标准药物。为实现让中国人用上价格合理，质量可靠的产品，长风药业汇聚了一支长期从事呼吸道药物递送技术开发的国际化资深团队，他们各有专长，又相互互补，并自创立起培养了一批中国专业的吸入药物研发、生产的后继中坚力量。目前公司在夯实现有产品研发基础上已开始积极布局新药的研发，为公司的可持续发展做出不断努力，积极回报社会。</p>
	<p>谈及此次交易，中金资本董事长丁玮先生表示：“长风药业是国内领先的吸入制剂平台型企业，在多个产品技术环节实现了重大突破，有着国内为数不多的全剂型技术平台和全面的吸入制剂药品管线商业化布局。在国内呼吸类疾病患者基数巨大、跨国药企主导的背景下，国内兼具优秀技术和成本优势的吸入制剂企业空间巨大，趋势逐渐明朗。长风的吸入制剂品种全面，商业化路径清晰，大力加速国产化的同时积极布局海外市场，这一切都让我们对公司的前景充满信心。”</p>
	<p>博远资本创始合伙人陈鹏辉表示：“长风药业管理团队优秀的战略眼光和执行力让公司在吸入制剂的赛道上脱颖而出。尽管欧美国家哮喘和COPD等慢性呼吸类疾病的治疗已广泛应用各类吸入制剂产品，但因为我国药物开发历史、技术壁垒等原因，导致尽管有庞大的患病人群，但治疗率和药品使用率均处于较低水平。长风药业在吸入制剂领域耕耘多年，攻克了一系列的技术难点，且已有多个产品均进入后期阶段，公司即将进入新的收获期。我们相信随着长风药业一系列价格合理，质量优良的吸入制剂产品上市，会让吸入制剂造福更多的国内外患者。”</p>
	<p>作为本次交易的投行顾问，易凯资本合伙人李钢先生表示：“我们非常荣幸能够帮助长风药业在6个月内完成2轮大规模融资。长风强大的融资能力展示出了投资人在目前全球较为特殊的市场环境下，对高端制剂这一风险和收益相对平衡的医药细分领域的独特偏好。我们持续看长风药业此领域的积累和优势，相信长风能够持续地快速成长为伟大的公司。”易凯资本董事总经理张骁先生表示：“祝贺长风在疫情期间逆势顺利完成E轮和F轮融资的落地，这同时也是我国吸入制剂领域最大规模的一笔融资。我们相信本次融资的顺利完成，进一步奠定了长风在吸入制剂领域里的领先地位。”</p>
</div>