<div class="info-banner" style="background-image: url(https://res.cloudinary.com/tichel/image/upload/v1602492410/CF%20Website/Original%20Pictures/QQ%E5%9B%BE%E7%89%8720171129113247_vl92sb.jpg); background-position: 50% 48%">
  <div class="info-banner-title-blue">
    <h1>质量系统</h1>
  </div>
</div>
<div class="container">
  <div class="info-container bg-white">
    <div class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h4>质量系统</h4>
          <p>我们的质量团队将确保所有的研发活动都符合中国、美国和欧洲的相关法规。</p>
          <ul class="bulleted-list">
            <li>分析方法开发和验证</li>
            <li>建立质量标准</li>
            <li>原辅料、包材质量管理</li>
            <li>通过官方和客户审计核查，确保提交监管部门所有文件的质量。</li>
          </ul>
        </div>
      </div>
      <div class="card-img-area">
        <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1598850842/CF%20Website/Contact%20Us/Wuxi_zk4c1e.png" alt="">
      </div>
    </div>
  </div>
</div>
