<div class="info-banner quality-system-banner-bg">
  <div class="info-banner-title info-title">
    <h1>质量系统</h1>
  </div>
</div>
<div class="bg-light-color">
  <%= image_tag "cf-logo-outline-white", class: "white-logo-bg" %>
  <div class="pr">
    <div class="content-card">
      <div class="card-image-area w65">
        <%= image_tag "research-and-development/quality-system/quality-team", alt: "man with beaker", class: "mar-auto" %>
      </div>
      <div class="card-text-area w35">
        <div class="card-text">
          <p>我们的质量团队将确保所有的研发活动都符合中国、美国和欧洲的相关法规。</p>
          <ul class="bulleted-list">
            <li>分析方法开发和验证</li>
            <li>建立质量标准</li>
            <li>原辅料、包材质量管理</li>
            <li>通过官方和客户审计核查，确保提交监管部门所有文件的质量。</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
