<div class="info-banner therapeutic-areas-banner-bg">
  <div class="info-banner-title info-title">
    <h1>研发领域</h1>
  </div>
</div>
<div class="h-100vh bg-offwhite">
  <div class="info-container">
    <div class="d-flex jc-space-evenly flex-w">
      <div class="thera-card-container pad-t-rem2">
        <div class="thera-card">
          <div id="Asthma" class="jump-anchor"></div>
          <div class="thera-card-img">
            <%= image_tag "research-and-development/therapeutic-areas/asthma", alt: "inhaler" %>
          </div>
          <div class="">
            <h4 class="ta-center pad-t-rem2">哮喘</h4>
            <p class="pad-t-rem2">哮喘是一种常见病、多发病。目前，全球哮喘患者约3亿人，中国哮喘患者约3000万。哮喘是影响人们身心健康的重要疾病。治疗不及时、不规范，哮喘可能致命，而通过规范化治疗，哮喘患者的疾病可以得到非常好的控制，工作生活几乎不受疾病的影响。</p>
          </div>
        </div>
        <div class="thera-card">
          <div id="COPD" class="jump-anchor"></div>
          <div class="thera-card-img">
            <%= image_tag "research-and-development/therapeutic-areas/copd", alt: "lungs" %>
          </div>
          <div class="">
            <h4 class="ta-center pad-t-rem2">慢性阻塞性肺病</h4>
            <p class="pad-t-rem2">慢性阻塞性肺病（COPD）是一种具有气流受限特征的可以预防和治疗的疾病，气流受限不完全可逆、呈进行性发展，与肺部对香烟烟雾等有害气体或有害颗粒的异常炎症反应有关。COPD主要累及肺脏，但也可引起全身(或称肺外)的不良效应。</p>
          </div>
        </div>
      </div>
      <div class="thera-card-container pad-t-rem2">
        <div class="thera-card">
          <div id="Rhinitis" class="jump-anchor"></div>
          <div class="thera-card-img">
            <%= image_tag "research-and-development/therapeutic-areas/rhinitis", alt: "nose" %>
          </div>
          <div class="">
            <h4 class="ta-center pad-t-rem2">鼻炎</h4>
            <p class="pad-t-rem2">鼻炎即鼻腔炎性疾病，是病毒、细菌、变应原、各种理化因子以及某些全身性疾病引起的鼻腔黏膜的炎症。鼻炎的主要病理改变是鼻腔黏膜充血、肿胀、渗出、增生、萎缩或坏死等。</p>
          </div>
        </div>
        <div class="thera-card">
          <div id="Other-Respiratory-Diseases" class="jump-anchor"></div>
          <div class="thera-card-img">
            <%= image_tag "research-and-development/therapeutic-areas/respiratory-diseases", alt: "trachea" %>
          </div>
          <div class="">
            <h4 class="ta-center pad-t-rem2">其他呼吸系统疾病</h4>
            <ul class="pad-t-rem2 bulleted-list">
              <li>特发性肺纤维化(IPF)</li>
              <li>囊性纤维化 (CF)</li>
              <li>肺动脉高压(PAH)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
