<div class="info-banner" style="background-image: url(https://res.cloudinary.com/tichel/image/upload/v1602492410/CF%20Website/Original%20Pictures/QQ%E5%9B%BE%E7%89%8720171129113247_vl92sb.jpg); background-position: 50% 48%">
  <div class="info-banner-title-blue">
    <h1>Therapeutic Areas</h1>
  </div>
</div>
<div class="container">
  <div class="info-container bg-white">
    <div class="content-card">
      <div class="card-text-area" id="Asthma">
        <div class="card-text">
          <h4>哮喘</h4>
          <p>支气管哮喘（简称：哮喘）是一种常见病、多发病。目前，全球哮喘患者约3亿人，中国哮喘患者约3000万。哮喘是影响人们身心健康的重要疾病。治疗不及时、不规范，哮喘可能致命，而规范化治疗，当今的治疗手段可使接近的哮喘患者疾病得到非常好的控制，工作生活几乎不受疾病的影响。</p>
        </div>
      </div>
      <div class="card-img-area">
      </div>
    </div>
    <div class="content-card">
      <div class="card-text-area" id="COPD">
        <div class="card-text">
          <h4>慢性阻塞性肺病</h4>
          <p>慢性阻塞性肺病（chronic obstructive pulmonary diseases, COPD）是一种具有气流受限特征的可以预防和治疗的疾病，气流受限不完全可逆、呈进行性发展，与肺部对香烟烟雾等有害气体或有害颗粒的异常炎症反应有关。COPD主要累及肺脏，但也可引起全身(或称肺外)的不良效应。</p>
        </div>
      </div>
      <div class="card-img-area">
      </div>
    </div>
    <div class="content-card">
      <div class="card-text-area" id="Rhinitis">
        <div class="card-text">
          <h4>鼻炎</h4>
          <p>鼻炎即鼻腔炎性疾病，是病毒、细菌、变应原、各种理化因子以及某些全身性疾病引起的鼻腔黏膜的炎症。鼻炎的主要病理改变是鼻腔黏膜充血、肿胀、渗出、增生、萎缩或坏死等。</p>
        </div>
      </div>
      <div class="card-img-area">
      </div>
    </div>
    <div class="content-card">
      <div class="card-text-area" id="Other-Respiratory-Diseases">
        <div class="card-text">
          <h4>其他呼吸系统疾病</h4>
        </div>
      </div>
      <div class="card-img-area">
      </div>
    </div>
  </div>
</div>
