<!-- Info banner-->
<div class="info-banner" style="background: url('assets/partnership/partnership-banner') no-repeat 30% 38%; background-size: cover;">
  <div class="info-banner-title-blue">
    <h1>合作</h1>
  </div>
</div>
<div class="container">
  <div class="info-container bg-white">
    <div class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h3>协作</h3>
          <p>除了我们的仿制药产品开发团队，我们还拥有专项技术专家团队和高级吸入制剂产品的开发能力，以支持您的新药开发项目，包括从早期阶段到产品生产以及到产品上市的新化合物研究、新型吸入装置研究。</p>
          <p>我们欢迎多种形式的合作，如共同投资，共同开发，或CDMO服务等。</p>
          <p>如果您有兴趣与我们合作，请随时与我们。 <%= link_to "联系", zh_contact_us_path %>.</p>
        </div>
        <!-- <div class="fw-display-card-footer">
          <p>1. Project leaders with years of experience in both the global and Chinese market.</p>
          <p>2. Comprehensive GMP facility that is capable of manufacturing all forms of inhalation drug and meet GMP requirements.</p>
          <p>3. Competitive price and high standards that provide significant cost saving and high quality.</p>
        </div> -->
      </div>
      <div class="card-img-area">
        <%= image_tag "partnership/collaboration", alt: "alttext", class: "card-img" %>
      </div>
    </div>
    <!-- Table -->
    <div class="content-card">
      <div class="card-text-area">
        <div class="card-text-">
          <h3>服务</h3>
          <p>长风药业致力于打造一个综合性的研发技术平台，为合作伙伴提供吸入制剂产品开发的全方位服务。</p>
          <div class="fw-display">
            <div class="fw-display-card">
              <div class="fw-display-card-header">
                <h4>研发</h4>
              </div>
              <div class="fw-display-card-body">
                <ul class="bulleted-list">
                  <li>feasibility analysis</li>
                  <li>prescription development</li>
                  <li>analytical method development</li>
                  <li>package materials/device selection</li>
                  <li>process development</li>
                </ul>
              </div>
            </div>
            <div class="fw-display-card">
              <div class="fw-display-card-header">
                <h4>CMO service</h4>
              </div>
              <div class="fw-display-card-body">
                <ul class="bulleted-list">
                  <li>preclinical batch</li>
                  <li>validation batch</li>
                  <li>clinical batch</li>
                  <li>commerical batch</li>
                </ul>
              </div>
            </div>
            <div class="fw-display-card">
              <div class="fw-display-card-header">
                <h4>Other services</h4>
              </div>
              <div class="fw-display-card-body">
                <ul class="bulleted-list">
                  <li>prescription analysis</li>
                  <li>animal experiments</li>
                  <li>IVT</li>
                  <li>compatibility testing</li>
                  <li>stability testing</li>
                  <li>application and registration</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
