a, a:hover, a:visited, a:active {
  text-decoration: none;
}

a {
  color: black;
}

a:hover{
  color: #00c8b8;
}

a:active {
  color: #00c8b8;
}

p a {
  color: #086eba;
}

.shopping-logo {
	height: 2rem;
	margin: 0.5rem;
}