.home-banner-bg {
  background: image-url('home/home-banner') no-repeat 50% 50%; background-size: cover;
}

.career-banner-bg {
  background: image-url('career/career-banner') no-repeat 30% 35%; background-size: cover;
}

.company-banner-bg {
  background-image: image-url('about-us-banner.png'); background-position: 50% 80%;
}

.contact-banner-bg {
  background: url('contact/contact-banner') no-repeat 30% 45%; background-size: cover;
}
