/*background colors*/
.bg-white {
  background: white;
}

.bg-grey-green {
  background-color: #55ae93;
  color: white;
}

.bg-blue {
  background-color: #086eba;
  color: white;
}

.bg-trans-white-green {
  background-color: #f6fcf9;
}

.bg-light-blue {
  background-color: #26aaee;
  color: white;
}

.bg-light-green {
  background-color: #00c8b8;
  color: white;
}

.bg-trans {
  background-color: transparent;
}

.bg-teal {
  background-color: #1ba3b8;
  color: white;
}

.bg-trans-teal {
  background-color: rgba(27,163,184,0.8);
  color: white;
}

.bg-light-grey {
  background-color: #c9caca;
}

.bg-offwhite {
  background-color: #f7f8f8;
}

.bg-trans-white {
  background-color: rgba(256, 256, 256, 0.7);
}

.offset-30-bg {
  position: absolute;
  left: -30%;
  height: 100%;
  width: 66%;
  z-index: 0;
}

.bg-light-color {
 background-color: #e7ecf2;
}

/*background images*/
.footer-bg {
  background: linear-gradient(rgba(0, 172, 195, 0.8), rgba(0, 172, 195, 0.8)), image-url('footer-bg') no-repeat 50% 50%; background-size: cover;
}

/*home*/
.home-banner-bg {
  background: image-url('home/home-banner') no-repeat 50% 50%; background-size: cover;
}

/*inner pages*/
.career-banner-bg {
  background: image-url('career/career-banner') no-repeat 30% 35%; background-size: cover;
}

.company-banner-bg {
  background-image: image-url('company/company-banner'); background-position: 50% 80%; background-size: cover
}

.contact-banner-bg {
  background: url('contact/contact-banner') no-repeat 30% 45%; background-size: cover;
}

.partnership-banner-bg {
  background: url('partnership/partnership-banner') no-repeat 30% 38%; background-size: cover;
}

.services-banner-bg {
  background: url('partnership/services-banner') no-repeat 50% 50%; background-size: cover;
}

.products-banner-bg {
  background: url('products/products-banner') no-repeat 30% 23%; background-size: cover;
}

.consumer-hc-banner-bg {
  background: url('products/consumer-hc-banner') no-repeat 50% 50%; background-size: cover;
}

.research-and-development-banner-bg {
  background: url('research-and-development/research-and-development-banner') no-repeat 30% 60%; background-size: cover;
}

.news-banner-bg {
  background: url('news/news-banner') no-repeat 50% 50%; background-size: cover;
}

.info-banner-bg {
  background: url('info-banner') no-repeat 50% 100%; background-size: cover;
}

.history-banner-bg {
  background: url('company/history-bg') no-repeat 50% 100%; background-size: cover;
  color: white;
}

.investors-banner-bg {
  background: url('investors/investors-banner') no-repeat 50% 50%; background-size: cover;
}

.quality-system-banner-bg {
  background: url('research-and-development/quality-system/quality-system-banner') no-repeat 50% 50%; background-size: cover;
}

.therapeutic-areas-banner-bg {
  background: url('research-and-development/therapeutic-areas/therapeutic-areas-banner') no-repeat 50% 50%; background-size: cover;
}

.dosage-forms-banner-bg {
  background: url('research-and-development/dosage-forms/dosage-forms-banner') no-repeat 50% 50%; background-size: cover;
}

/*interview pages*/
.jean-marc-interview-banner {
  width: 60%;
  height: 60vh;
  background: url('career/meet-us-jean-marc') no-repeat 50% 25%; background-size: cover;
}

.gao-interview-banner {
  width: 60%;
  height: 60vh;
  background: url('career/meet-us-gao') no-repeat 50% 25%; background-size: cover;
}

.kira-interview-banner {
  width: 60%;
  height: 60vh;
  background: url('career/meet-us-kira') no-repeat 50% 25%; background-size: cover;
}

.yiming-interview-banner {
  width: 60%;
  height: 60vh;
  background: url('career/meet-us-yiming') no-repeat 50% 20%; background-size: cover;
}

/*components*/
/*home*/
.bg-home-rnd {
  background: image-url('home/RD-bg-100') no-repeat 50% 50%; background-size: cover;
}

.rnd-mdi-card-bg:hover {
  background: linear-gradient(rgba(0, 172, 195, 0.8), rgba(0, 172, 195, 0.8)), image-url('home/mdi') no-repeat 50% 28%; background-size: cover;
}

.rnd-dpi-card-bg:hover {
  background: linear-gradient(rgba(0, 172, 195, 0.8), rgba(0, 172, 195, 0.8)), image-url('home/dpi') no-repeat 50% 28%; background-size: cover;
}

.rnd-nebulizer-card-bg:hover {
  background: linear-gradient(rgba(0, 172, 195, 0.8), rgba(0, 172, 195, 0.8)), image-url('home/nebulizer') no-repeat 50% 28%; background-size: cover;
}

.rnd-nasal-spray-card-bg:hover {
  background: linear-gradient(rgba(0, 172, 195, 0.8), rgba(0, 172, 195, 0.8)), image-url('home/nasal-spray') no-repeat 50% 28%; background-size: cover;
}
/*company*/
.company-card-bg {
  background: image-url('company/company-card-bg') no-repeat 50% 50%; background-size: cover;;
}

/*partnership*/
.scope-bg {
  background-image: url('partnership/scope-world-bg');
  background-color: white;
}

.scope-card-bg {
  background: linear-gradient(90deg, rgba(250,250,250,0.5) 0%, rgba(240,240,240,0.5) 50%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0.6) 100%);
}

/*bg pieces (logos, doodles, etc.)*/
.white-logo-bg {
  position: absolute;
  right: 0;
  z-index: 0;
}
