.bg-white {
  background: white;
  position: relative;
}

.bg-grey-green {
  background-color: #55ae93;
  color: white;
}

.bg-blue {
  background-color: #086eba;
  color: white;
}

.bg-trans-white-green {
  background-color: #f6fcf9;
}

.bg-light-blue {
  background-color: #26aaee;
  color: white;
}

.bg-light-green {
  background-color: #00c8b8;
  color: white;
}

.bg-trans {
  background-color: transparent;
}

.offset-30-bg {
  position: absolute;
  left: -30%;
  height: 100%;
  width: 66%;
  z-index: 0;
}
