.bg-white {
  background: white;
  position: relative;
  top: -2rem;
}

.bg-grey-green {
  background-color: #55ae93;
  color: white;
}

.bg-blue {
  background-color: #086eba;
  color: white;
}

.bg-trans-white-green {
  background-color: #f6fcf9;
}

.bg-light-blue {
  background-color: #26aaee;
  color: white;
}

.bg-light-green {
  background-color: #00c8b8;
  color: white;
}
