.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: #00c8b8;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-area {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn-product {
  position: absolute;
  bottom: 8%;
  right: 5%;
}

.bot-margin-small {
  margin-bottom: 20px;
}

.btn-hollow-white {
  display: inline-block;
  color: white;
  border-color: white;
  padding: 8px 24px;
  border: 1px solid white;
  border-radius: 50px;
  background-color: transparent;
  transition: background 0.3s ease;
}
