.btn-flat {
  margin-top: 2em;
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: #00db82;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-area {
  margin-top: 2em;
}
