.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: #00db82;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-area {
  margin-top: 2em;
  margin-bottom: 2em;
}

.btn-product {
  position: absolute;
  bottom: 8%;
  right: 5%;
}

.bot-margin-small {
  margin-bottom: 20px;
}
