.content-card {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  height: min-content;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .content-card {
    min-height: 90vh;
    flex-wrap: nowrap;
  }
}

.card-text-area {
  width: 50%;
  min-width: 240px;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .card-text-area {
    padding-left: 1rem;
  }
}

.card-text {
  display: block;
  min-width: 240px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.card-text p {
  text-align: justify;
}

.card-text-narrow {
  min-width: 240px;
  padding-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.card-image-area {
  display: flex;
  align-items: center;
  width: 50%;
  min-width: 300px;
}

.card-image {
  display: block;
  object-fit: cover;
  width: 600px;
  max-height: calc(100% - 2rem);
  max-width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;
}

.card-image-large {
  display: block;
  object-fit: cover;
  max-height: calc(100% - 2rem);
  max-width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;
}

.card-img-narrow {
  object-fit: cover;
  width: 75%;
  height: 75%;
  min-height: 200px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-narrow {
  width: 100%;
  position: relative;
}

.doodles {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.big-gradient-text {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(left top, #29b07a, #086eba, #2fbbe6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-card h3 {
  font-size: 1.5rem;
  font-weight: 800;
}


.background-grey {
  background: #e6e6e6;
}

.product-img img{
  max-width: 600px;
}

.margin-top {
  margin-top: 2rem;
}

.margin-bot {
  margin-bottom: 2rem;
}

.card-reverse {
  flex-wrap: wrap-reverse;
}

@media (min-width: 768px) {
  .card-reverse{
    flex-direction: row;
  }
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: min-content;
  width: 70%;
  margin-top: 1rem;
}

.home-product-card {
  position: relative;
  min-width: 300px;
  width: 480px;
  height: min-content;
  min-height: 200px;
  box-sizing: border-box;
  border-radius: 16px;
  padding-top: 24px;
  padding-left: 30px;
  line-height: 1.8em;
  margin-bottom: 1rem;
}

.home-product-card-btn {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.home-products-text-area {
  min-width: 300px;
  height: min-content;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
}

.home-products {
  height: min-content;
}

@media (min-width: 768px) {
  .home-products {
    min-height: 80vh;
  }
}

.home-product-card:hover {
  color: white;
  box-shadow: 4px 1px 8px gray;
}

.quotation-marks {
  position: absolute;
  top: -2rem;
}

.meet-us {
  margin-top: 2rem;
}

.career-quote {
  margin-top: 3rem;
}

.rounded-corners {
  border-radius: 50px 0px;
}

/*page specific*/

/*contact*/
.list-section-contact {
  display: flex;
  border-radius: 1rem;
}

/*company*/
.list-section {
  display: flex;
  background-color: #e7ecf2;
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 2rem;

  p {
    margin-bottom: 0.4rem;
  }
}

.timeline-card-image-area {
  width: 25%;
  min-width: 200px;
  max-width: 400px;
  max-height: 400px;
}


.timeline-card-content {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timeline-card-image {
  min-width: 150px;
  width: 100%;
  max-width: 300px;
  max-height: 200px;
  border-radius: 1rem;
}

/*homepage rnd*/
.small-card-display {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.small-card-display-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.small-card-icon {
  height: 90px;
  width: 60px;
  display: block;
  padding-bottom: 3rem;
}

.small-card-icon svg {
  height: 80px;
  max-width: 60px;
}

.thick-icon {
  stroke: #ddd; stroke-width: 2px; fill: #ddd;
}

.rnd-card {
  height: 12rem;
  width: 18rem;
  box-sizing: border-box;
  border: 1px solid silver;
  border-radius: 10px;
  padding: 1rem;
  font-weight: 800;
  transition: background 1s;
  fill: silver;
}

.rnd-card:hover {
  color: white;
}

.rnd-card:hover svg{
  fill: white;
}

.rnd-card:hover .thick-icon {
  stroke: #fff; stroke-width: 2px; fill: #fff;
}

.rnd-card:hover path{
  fill: white;
}

.collaboration-image {
  padding-top: 4rem;
  padding-left: 4rem;
  padding-bottom: 4rem;
  box-sizing: content-box;
  height: 75vh;
}

/*Investors*/
.announcement-container {
  display: flex;
  justify-content: space-around;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.announcement-card {
  position: relative;
  display: flex;
  background-color: white;
  width: 50%;
  min-height: 400px;
  height: 40%;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}