.content-card {
  display: flex;
  min-height: 300px;
}

.card-text-area {
  width: 50%;
  flex-grow: 1;
}

.card-text {
  min-width: 300px;
  width: 80%;
  margin: auto;
  padding-top: 2em;
}

.card-img-area {
  width: 50%;
  flex-grow: 1;
}

.card-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.big-gradient-text {
  font-size: 2.5em;
  background: -webkit-linear-gradient(left top, #29b07a, #086eba, #2fbbe6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-card h3 {
  font-size: 1.5em;
  font-weight: 800;
}


.background-grey {
  background: #e6e6e6;
}

.product-img img{
  max-width: 600px;
}
