.floating-block-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.floating-block {
	position: relative;
	padding: 1rem;
	width: 100%;
	min-width: 13rem;
}

@media (min-width: 768px) {
	.floating-block-container {
		flex-wrap: nowrap;
	}
	.floating-block {
		position: absolute;
		padding: 1rem;
		width: 30rem;
		right: 3rem;
	}
}
