.footer {
  width: 100%;
  background-color: white;
}

.footer-list-container {
  display: flex;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.footer a {
  color: black;
}

.footer a:hover{
  color: #00c8b8;
}
