.footer {
  width: 100%;
  position: relative;
}

.footer-list-container {
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
}

@media (min-width: 768px) {
  .footer-list-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}


.footer a {
  color: #e5e5e5;
  fill: #e5e5e5;
}

.footer a:hover{
  color: whitesmoke;
  fill: whitesmoke;
}

.footer-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}

.footer-icon {
  height: 1rem;
  display: inline-block;
  margin-right: 0.5rem;
}

.footer-logo {
  height: 100%;
}

footer ul {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

@media (min-width: 768px) {
  .footer-list-container {
    min-width: 600px;
    position: relative;
    left: 2.5rem;
  }
  .footer-container {
    width: 70%;
  }
}

@media (max-width: 280px) {
  .footer-list-container {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}
