.footer {
  width: 100%;
  background-color: #f0f0f0;
}

.footer-list-container {
  display: flex;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.footer a {
  color: black;
}

.footer a:hover{
  color: #00c8b8;
}

.footer-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}
