.fw-display {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  column-gap: 1rem;
  row-gap: 1rem;
  grid-auto-rows: 1fr;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
}

.fw-display-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-radius: 16px;
  box-shadow: 1px 1px 1rem silver;
  position: relative;
  min-width: 200px;
  margin-bottom: 2rem;
}

.fw-display-card-header {
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: .8rem;
  padding-right: .8rem;
  position: relative;
}

.fw-display-card-header h4 {
  font-weight: bold;
  text-align: start;
}

.fw-display-card-body {
  height: 100%;
}

.fw-display-card-body ul {
  padding-top: 0;
  padding-bottom: 0;
}

.fw-display-card-footer {
  margin-left: 2rem;
  margin-right: 2rem;
}

.fw-display-card-body li{
  margin-bottom: 0.6rem;
}

.fw-pin {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
}
