.homepage-banner {
  display: flex;
  width: 100%;
  height: 70vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url(https://res.cloudinary.com/tichel/image/upload/v1597397247/gary-scott-nkCA4va-6k0-unsplash_szlu4i.jpg);
  background-size: cover;
  background-position: center;
}

.homepage-banner h1 {
  justify-content: center;
}
