.homepage-banner {
  display: flex;
  width: 100%;
  height: 55vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url(https://res.cloudinary.com/tichel/image/upload/v1602492454/CF%20Website/Original%20Pictures/IMG_4428_q1ajhx.jpg);
  background-size: cover;
  background-position: 50% 40%;
  color: #2a2e2f;
}

.homepage-banner h1 {
  font-size: 4em;
  margin: 0;
}

.homepage-banner h3 {
  font-size: 2em;
  margin: 0;
}

.banner-text {
  position: relative;
  bottom: 2.5em;
  z-index: 0;
}
