.info-banner {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: calc(100vh - 2.8rem);
  min-height: 400px;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  z-index: 0;
}

.info-banner h1 {
  color: white;
  margin-bottom: 0;
  font-size: 4rem;
}

.info-banner-title {
  position: absolute;

}

.info-title {
  left: 7rem;
  top: 17rem;
}

.info-title-right {
  right: 5rem;
  top: 17rem;
}
/*Page Specific CSS*/

.career-title {
  left: 7rem;
  top: 17rem;
}

.company-title {
  left: 7rem;
  top: 17rem;
}