.info-banner {
  display: flex;
  width: 100%;
  height: 25vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: 40% 40%;
  position: relative;
}

.info-banner h1 {
  color: black;
  font-weight: bold;
  margin-bottom: 0;
}

.info-banner-title {
  text-align: start;
  width: 85%;
}
