.meet-us-jean-marc {
  background-image: image-url("career/meet-us-jean-marc");
}

.meet-us-gao {
  background-image: image-url("career/meet-us-gao");
}

.meet-us-kira {
  background-image: image-url("career/meet-us-kira");
}

.meet-us-yiming {
  background-image:
  linear-gradient(135deg, rgba(255,255,255,1), rgba(255,255,255,0)),
  image-url("career/meet-us-yiming");
}
