.menu-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.menu-dropdown-content {
  display: none;
  position: relative;
  z-index: 1;
}

.menu-dropdown-container {
  display: flex;
  flex-direction: column;
}

.menu-dropdown:hover {
  cursor: pointer;
  .menu-dropdown-content {
    display: block;
    position: absolute;
    top: 1.6rem;
    width: inherit;
    background-color: white;
  }
}

.menu-dropdown-arrow-container {
  display: flex;
  flex-wrap: nowrap;
}

.menu-dropdown-arrow-container:hover {
  opacity: 50%;
}

.language-selector {
  display: flex;
  flex-wrap: nowrap;
}

p.language-selector {
  margin: 0;
  padding: 0;
}

@media (min-width: 1160px) {
  .menu-dropdown {
    max-height: 22.5px;
  }
  .menu-dropdown:hover {
    cursor: pointer;
    .menu-dropdown-content {
      display: block;
      position: absolute;
      top: 22px;
      width: inherit;
      background-color: white;
    }
  }
}
