.menu-dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
  text-align: center;
}

.menu-dropdown-content {
  display: none;
  top: 32px;
  position: absolute;
  min-width: 40px;
  z-index: 1;
}

.menu-dropdown-container {
  display: flex;
  cursor: pointer;
}

.menu-dropdown:hover {
  .menu-dropdown-content {
    display: block;
  }
  .blur-white {
    display: block;
  }
}

.flag-selector-extend {
  .menu-dropdown-content {
    display: block;
  }
}
