.menu-dropdown {
  z-index: 1;
  text-align: center;
}

.menu-dropdown-content {
  display: none;
  min-width: 36px;
  height: max-content;
  z-index: 1;
}

.menu-dropdown-container {
  overflow: visible;
  display: block;
  position: relative;
}

.menu-dropdown:hover {
  cursor: pointer;
  .menu-dropdown-content {
    display: block;
    position: absolute;
    top: 30px;
  }
}

.flag-selector-extend {
  .menu-dropdown-content {
    display: block;
    position: absolute;
    top: 30px;
  }
}

.menu-dropdown-arrow-container {
  display: flex;
  justify-content: start;
}

.menu-dropdown-arrow-container:hover {
  opacity: 50%;
}

@media (min-width: 968px) {
  .menu-dropdown-content {
    display: none;
    min-width: 36px;
    z-index: 1;
  }
}
