.navigationbar {
  width: 100%;
}

.navigationbar-list {
  display: none;
}

.navigationbar-spacer {
  display: block;
  height: 2.8rem;
}

.navigationbar-list-header a {
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navigationbar-logo {
  height: 54px;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.navigationbar-border {
  height: 6px;
  width: 100%;
  background: linear-gradient(90deg, #041661 0%, #2FBBE6 50%, #29B07A 100%), #C4C4C4;
}

.mobile-navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start
}

.mobile-navigationbar-extend {
  height: max-content;
}

.mobile-navigationbar-extend {
  .navigationbar-list{
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.navigationbar-hidden {
  height: min-content;
}

.navigationbar-list-item {
  height: 0;
  width: 0;
  overflow: hidden;
  justify-content: center;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.menu-icon:hover {
  max-height: max-content;
  .navigationbar-list {
    display: block;
  }
}

.flag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 76px;
  margin-left: 0.25rem;
}

.rotate-around {
  transform: rotate(180deg);
}

.jump-anchor {
  position: relative;
  top: -80px;
}

.navigationbar a {
  color: black;
}

.navigationbar-list {
  padding-bottom: 0.5rem;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
}

.flag-icon {
  width: 3rem;
  height: 30px;
}

.da-icon {
  height: 30px;
}

.fixed-nav-padding {
  display: none;
}

.navigationbar a:hover{
  color: #00c8b8;
}

.navigationbar #nav-arrow:hover{
  color: #00c8b8;
}

.hamburger-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
}

.menu-icon {
  width: 1.8rem;
  color: gray;
  margin-left: 0.4rem;
  margin-right: 0.8rem;
}

@media (min-width: 1160px) {
  .navigationbar {
    max-width: 1376px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 0.6fr 7fr 0.6fr;
    align-items: flex-start;
    background: white;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.8rem;
  }

  .fullnav {
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 100;
    box-shadow: 2px 2px 3px silver;
  }

  .navigationbar-list:hover {
    height: max-content;
    box-shadow: 0px 5px 8px -5px silver;
    background-color: white;
    .navigationbar-list-item {
      display: block;
      height: inherit;
      width: inherit;
      overflow: wrap;
      background-color: white;
    }
  }

  .navigationbar-list-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-height: 78px;
  }

  .navigationbar-list {
    display: block;
  }

  .navigationbar-list-header {
    display: block;
    max-height: 70px;
    padding-top: 1.5em;
    padding-bottom: 1em;
    align-items: center;
  }

  .fixed-nav-padding {
    display: block;
    padding-top: 78px;
  }

  .menu-icon {
    display: none;
  }

  .flag-icon {
    height: 30px;
  }

  .da-icon {
    height: 30px;
  }

  .hamburger-container {
    margin-top: 0;
  }

  .navigationbar-spacer {
    display: none;
  }
}


@media (max-height: 400px) {
  .fullnav {
    position: static;
  }
  .fixed-nav-padding {
    display: none;
  }
}
