.navigationbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navigationbar-class {
  display: flex;
  justify-content: space-between;
  background: white;
  width: 100%;
}

.navigationbar-list {
  text-align: center;
  margin: auto;
}


.navigationbar-class {
  flex-grow: 0;
}

.navigationbar-logo {
  height: 50px;
}

.navigationbar-border {
  height: 6px;
  background: linear-gradient(90deg, #041661 0%, #2FBBE6 50%, #29B07A 100%), #C4C4C4;
}
