.navigationbar {
  width: 100%;
  max-width: 1376px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr) 1.2fr 0.4fr 0.4fr;
  justify-content: space-between;
  background: white;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navigationbar-list-header {
  display: flex;
  flex-direction: column;
  padding-top: 1.5em;
  padding-bottom: 1em;
  align-items: center;
}

.navigationbar-list-header a {
}

.navigationbar-logo {
  height: 54px;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.navigationbar-border {
  height: 6px;
  width: 100%;
  background: linear-gradient(90deg, #041661 0%, #2FBBE6 50%, #29B07A 100%), #C4C4C4;
}

.nav-down-arrow-container {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  cursor: pointer;
}

.navigationbar-extend {
  height: max-content;
}

.navigationbar-hidden {
  height: min-content;
}

.navigationbar-list-item{
  display: none;
  justify-content: center;
}

.navigationbar-list-item a {
  // color: #086eba;
}

.navigationbar-extend {
  .navigationbar-list-item{
    display: block;
  }
}

.fullnav {
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1;
}

.fullnav:hover {
  max-height: max-content;
  .navigationbar-list-item {
    display: block;
  }
}

.navigationbar-list-item a {
  font-size: 14px;
}

.flag-container {
  max-height: 78px;
}

.rotate-around {
  transform: rotate(180deg);
}

.jump-anchor {
  position: relative;
  top: -80px;
}

.navigationbar-link {
  display: inline-block;
}

.navigationbar a {
  color: black;
  height: max-content;
}

.navigationbar-list {
  padding-bottom: 0.5rem;
  text-align: center;
}

.flag-icon {
  width: 40px;
}

.fixed-nav-padding {
  padding-top: 78px;
}

.navigationbar a:hover{
  color: #00c8b8;
}

.navigationbar #nav-arrow:hover{
  color: #00c8b8;
}
