.product-card-small {
  display: flex;
  min-height: 300px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}


.product-card-small-text {
  text-align: center;
}

.product-card-small-text-area {
  width: 50%;
  flex-grow: 1;
}

.product-card-small-img-area {
  width: 50%;
  flex-grow: 1;
}

.product-card-small-img img {
  max-height: 300px;

}

.product-category-title {
  text-align: center;
  margin-bottom: 3em;
}
