/*widths*/
.w65 {
  width: 65%;
}

.responsive.w65 {
  width: 100%;
}

@media (min-width: 768px) {
  .responsive.w65 {
    width: 65%
  }
}


.w35 {
  width: 35%;
}

.w45 {
  width: 45%;
}

.w80 {
  width: 80%;
}

.w100 {
  width: 100%;
}

.mr-w80 {
  width: 100%;
}

.wrem2{
  width: 2rem;
}

.wrem3 {
  width: 3rem;
}

.wrem6 {
  width: 6rem;
}

.mw-3rem {
  min-width: 3rem;
}

/*heights*/
.h-100vh {
  min-height: 100vh;
}

.mh-mc {
  max-height: min-content;
}

.maxh-300{
  max-height: 300px;
}

.h300 {
  min-height: 300px;
}

.hrem3 {
  height: 3rem;
}

.hrem2 {
  height: 2rem;
}

@media (min-width: 768px) {
/*widths*/
  .mr-w80 {
    width: 80%;
  }
}

/*flex*/
.fg-1 {
  flex-grow: 1;
}

.fg-2 {
  flex-grow: 2;
}

.fg-4 {
  flex-grow: 4;
}

/*overflow*/
.of-hidden {
  overflow: hidden;
}