.small-container {
  padding-top: 2rem;
  display: flex;
  max-height: 500px;
  box-sizing: border-box;
  flex-direction: column;
}

.small-card-container {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.small-card-container h3 {
  width: 100%;
}

.small-card {
  display: flex;
  flex-direction: column;
}

.small-card img {
  height: 250px;
}

/*company*/
.values-container {
  display: flex;
  position: relative;
  left: -1.8rem;
}
.values-card {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
}

/*contact*/
.contact-symbol-container {
  display: flex;
  width: 45%;
  position: relative;
  left: 45%;
  bottom: 2.5rem;
  align-items: center;
}

.contact-symbol-container p {
  margin-bottom: 0;
  margin-left: 1rem;
}

.contact-symbol {
  height: 6rem;
}
