.small-container {
  padding-top: 2rem;
  display: flex;
  max-height: 500px;
  box-sizing: border-box;
  flex-direction: column;
}

.small-card-container {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.small-card-container h3 {
  width: 100%;
}

.small-card {
  display: flex;
  flex-direction: column;
}

.small-card img {
  height: 250px;
}

/*company*/
.values-container {
}

.values-card {
  display: flex;
  flex: 1 1 0px;
}

.values-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/*contact*/
.contact-symbol-container {
  display: flex;
  width: 45%;
  position: relative;
  left: 45%;
  bottom: 2.5rem;
  align-items: center;
}

.contact-symbol-container p {
  margin-bottom: 0;
  margin-left: 1rem;
}

.contact-symbol {
  height: 6rem;
}


/*therapeutic areas*/
.thera-card-container {
  display: flex;
  flex-grow: 1;
  min-width: 16rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
}

.thera-card {
  width: 16rem;
  box-sizing: border-box;
  padding: 0.5rem;
}

.thera-card-img {
  width: 8rem;
  margin-left: auto;
  margin-right: auto;
}

/*consumer hc products*/
.mall-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mall-card {
  display: block;
  min-width: 16rem;
  width: 40%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  position: relative;
}

.mall-card-text {
  position: absolute;
  width: 80%;
  text-align: center;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mall-card-text h3 {
  font-style: italic;
  font-size: 0.8rem;
}

.mall-card-text p {
  font-size: 1.2rem;
}