.pad-tb-rem4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pad-tb-rem5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.pad-lr-rem1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mar-lr-rem1{
  margin-left: 1rem;
  margin-right: 1rem
}
