.pad-t-rem1 {
  padding-top: 1rem;
}

.pad-t-rem2 {
  padding-top: 2rem;
}

.pad-t-rem4 {
  padding-top: 4rem;
}

.pad-l-0 {
  padding-left: 0;
}

.pad-tb-rem2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pad-tb-rem4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pad-tb-rem5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.pad-lr-rem1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pad-lr-rem3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.pad-r-rem1 {
  padding-right: 1rem;
}

.pad-rem1 {
  padding: 1rem;
}

.mar-lr-rem1{
  margin-left: 1rem;
  margin-right: 1rem
}

.mar-bot-0 {
  margin-bottom: 0;
}

.mar-top-rem2 {
  margin-top: 2rem;
}

.mar-tb-rem2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mar-l-0 {
  margin-left: 0;
}

.mar-auto {
  margin-left: auto;
  margin-right: auto;
}

.z1 {
  z-index: 1;
}

.z0 {
  z-index: 0;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-space-evenly {
  justify-content: space-evenly;
}

.jc-center {
  justify-content: center;
}