/*color*/
.white-text {
  color: white;
}

.blue-text {
  color: #086eba;
}

.teal-text {
  color: #1ba3b8;
}

.light-blue-text {
  color: #1ea6cd;
}

/*alignment*/
.ta-left {
  text-align: left;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

/*size*/
html {
  font-size: 20px;
}

.text-very-large {
  font-size: 3rem;
}

@media (min-width: 768px) {
  .text-very-large {
    font-size: 5rem;
  }
}

@media (min-width: 968px) {
  .text-very-large {
    font-size: 6rem;
  }
}

.text-larger {
  font-size: 1.6em;
}

.text-large {
  font-size: 1.2em;
}

.text-small {
  font-size: 0.8rem;
}

.text-very-small {
  font-size: 0.6rem;
}

@media (min-width: 768px) {
  .text-large {
    font-size: 1.6rem;
  }
  .text-larger {
    font-size: 2em;
  }
}

.text-medium {
  font-size: 1.4rem;
}

.text-normal {
  font-size: 1rem;
}

.text-bold {
  font-weight: bold;
}

.text-italics {
  font-style: italic;
}


/*text decoration*/
.zh-text {
  font-family: sans-serif;
}

.underline-blue {
  text-decoration: underline #1ea6cd;
}

.thick-underline {
  text-decoration-thickness: 0.4rem;
}