.triple-card-container{
  display: flex;
  margin: 1em 0 1em 0;
}

.triple-card {
  width: 35%;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
  height: 350px;
  background-size: cover;
  position: relative;
}

.bottom-right-btn {
  position: absolute;
  right: 1em;
  bottom: 1em;
}
