<div class="container">
  <div class="card-trip my-3">
    <%= image_tag @product.imgurl, crop: :fill %>
  <div class="card-trip-infos">
    <div>
      <h3><%= @product.product_name %></h3>
      <p><%= @product.short_description %></p>
    </div>
    </div>
  </div>
  </div>
</div>


